<!-- SCRIPT -->
<script>
	$(function(){
		var pageObj = $("#pagination").pagination({
			items: 1,
			itemsOnPage: 20,
			cssStyle: 'light-theme',
			onPageClick : function(p,e){
				console.log(p);
			}
		});
		//GRID 생성
		make_header();
		$("#searchBtn").click((e)=>{
			repoRetrieve(1);
		});
	});
		
	var make_header = ()=>{
		var header = ["No","변경타입","저장소ID","저장소명","저장소타입","저장소설명","저장소용량","저장소토큰","생성자","생성일자"];
		$.each(header, function(i,v){
			$("#ghead").append("<th>"+v+"</th>");
		});
	};
	var repoRetrieve = (num) => {
		console.log($("#fm01").serialize());
		$.ajax({
			url       : "/repo/his_list",
			type      : "GET",
			async	  : false,
			data	  : $("#fm01").serialize(),
			success: function(data) {
				$("#gTable tr").not('tr:first').remove();
				console.log(data);
				//$("#contents").empty().append(html);
				if(data){
					var rows = "";
					//REPO_ID,REPO_NM,REPO_DESC,REPO_TYPE,REPO_VOLUME,ACC_TOKEN,REG_ID,REG_DT,MOD_ID,MOD_DT
					$.each(data, function(i,r){
						rows += "<tr>";
						rows += "<td>"+r.repo_his_no+"</td>";
						rows += "<td>"+r.repo_his_type+"</td>";
						rows += "<td>"+r.repo_id+"</td>";
						rows += "<td>"+r.repo_nm+"</td>";
						rows += "<td>"+r.repo_type+"</td>";
						rows += "<td>"+r.repo_desc+"</td>";
						rows += "<td>"+r.repo_volume+"</td>";
						rows += "<td>"+r.acc_token+"</td>";
						rows += "<td>"+r.reg_id+"</td>";
						rows += "<td>"+r.reg_dt+"</td>";
						rows += "</tr>"
					});
					$("#ghead").after(rows);
				}
			},
			error:function(request,status,error){
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};
</script>
<!-- SCRIPT END-->

<!-- DATA GRID -->
<section>
	<!-- CONTDITION -->
	<div class="w3-row-padding" style="width:100%;height:60px;">
		<div style="width:90%;float:left;">
			<form id="fm01" class="form-style-9">
				<ul>
					<li>
						<div class="float:left;">
							<label for="repoNm" style="margin-left:10px;float:left;margin-top:5px;">저장소명</label>
							<input id="repoNm" name="repoNm" type="text"  class="field-style field-split align-left" placeholder="저장소명" />
						</div>
						<div class="float:right;">
							<label for="repoType" style="margin-left:10px;">저장소타입</label>
							<select id="repoType" name="repoType" class="" style="height:27px;padding:0px;margin:3px;">
								<option value="">전체</option>
								<option value="public">공개</option>
								<option value="private">비공개</option>
							</select>
							<label for="hisType" style="margin-left:10px;">저장소변경타입</label>
							<select id="hisType" name="hisType" class="" style="height:27px;padding:0px;margin:3px;">
								<option value="">전체</option>
								<option value="insert">등록</option>
								<option value="update">수정</option>
								<option value="delete">삭제</option>
							</select>
						</div>
					</li>
					<!-- <li>
						<input type="text" name="field3" class="field-style field-split align-left" placeholder="Phone" />
						<input type="url" name="field4" class="field-style field-split align-right" placeholder="Website" />
					</li>
					<li>
						<input type="text" name="field3" class="field-style field-full align-none" placeholder="Subject" />
					</li> -->
				</ul>
			</form>
		</div>
		<!-- <div style="width:10%;float:right;padding:15px;"><button style="width:100px;height:80px;" type="button">조회</button></div> -->
		<div style="width:10%;float:right;padding:15px;"><button id="searchBtn" style="width:100px;height:40px;" type="button">조회</button></div>
	</div>
	<!-- CONTDITION END -->
	<div class="w3-row-padding" style="height:800px;">
		<div style="margin-top:10px;border:1px solid rgba(100, 101, 105, 0.2); width:100%;height:700px;">
			<table id="gTable">
				<tr id="ghead"></tr>
			</table>
			<div id="pagination" style="position:absolute; left:50%; margin-left:-50px;margin-top:10px;"></div>
		</div>
	</div>
</section>
<!-- DATA GRID END-->