<!-- SCRIPT -->
<script>
	$(function(){
		var pageObj = $("#pagination").pagination({
			items: 1,
			itemsOnPage: 20,
			cssStyle: 'light-theme',
			onPageClick : function(p,e){
				console.log(p);
			}
		});
		//GRID 생성
		make_header();

		$(".close-button, #mCancel").click((e)=>{
			$("#fm01p")[0].reset();
			$(".modal").removeClass("show-modal");
		});

		$("#searchBtn").click((e)=>{
			repo_retrieve(1);
		});

		$("#creRepo").click((e)=>{
			register_popup();
		});

		$("#mSave").click((e)=>{
			repo_save();
		});

	});
		
	var make_header = ()=>{
		var header = ["No","센터ID","저장소명","저장소타입","저장소소스경로","저장소타켓경로","저장소설명","생성자","생성일자"];
		$.each(header, function(i,v){
			$("#ghead").append("<th>"+v+"</th>");
		});
	};

	var register_popup = ()=>{
		var modal = $(".modal");
		var closeButton = $(".close-button");
		//modal.classList.toggle("show-modal");
		$(".modal").addClass("show-modal");
		
	};

	var repo_retrieve = (num) => {
		console.log($("#fm01").serialize());
		$.ajax({
			url       : "/repo/list",
			type      : "GET",
			async	  : false,
			data	  : $("#fm01").serialize(),
			success: function(data) {
				console.log(data);
				$("#gTable tr").not('tr:first').remove();
				//console.log(data);
				//$("#contents").empty().append(html);
				if(data){
					var rows = "";
					//REPO_ID,REPO_NM,REPO_DESC,REPO_TYPE,REPO_VOLUME,ACC_TOKEN,REG_ID,REG_DT,MOD_ID,MOD_DT
					$.each(data, function(i,r){
						rows += "<tr>";
						rows += "<td>"+r.repo_no+"</td>";
						rows += "<td>"+r.repo_center_id+"</td>";
						rows += "<td>"+r.repo_nm+"</td>";
						rows += "<td>"+r.repo_type+"</td>";
						rows += "<td>"+r.repo_source_path+"</td>";
						rows += "<td>"+r.repo_target_path+"</td>";
						rows += "<td>"+r.repo_desc+"</td>";
						rows += "<td>"+r.reg_id+"</td>";
						rows += "<td>"+r.reg_dt+"</td>";
						rows += "<td><button onclick='javascript:repo_del(\""+r.repo_no+"\")' type='button'>삭제</button></td>";
						rows += "</tr>"
					});
					$("#ghead").after(rows);
				}
			},
			error:function(request,status,error){
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

	var repo_save = () => {
		console.log(($("#fm01p").serialize()));
		var repo_nm = $("#repo_nm").val();
		var repo_center_id = $("#repo_center_id").val();
		var repo_source_path = $("#repo_source_path").val();
		var repo_target_path = $("#repo_target_path").val();

		if(!repo_nm || repo_nm.trim() == ""){
			alert("저장소명을 입력하세요.");
			$("#repo_nm").focus();
			return false;
		}
		if(!repo_center_id || repo_center_id.trim() == ""){
			alert("센터ID를 입력하세요.");
			$("#repo_center_id").focus();
			return false;
		}
		if(!repo_source_path || repo_source_path.trim() == ""){
			alert("저장소 소스경로를  입력하세요.");
			$("#repo_source_path").focus();
			return false;
		}
		if(!repo_target_path || repo_target_path.trim() == ""){
			alert("저장소 타켓경로를  입력하세요.");
			$("#repo_target_path").focus();
			return false;
		}
		$.ajax({
			url       : "/repo/save",
			type      : "POST",
			async	  : false,
			data	  : $("#fm01p").serialize(),
			success: function(data) {
				console.log(data);
				if(data.success){
					alert("저장 성공!");
					$(".modal").removeClass("show-modal");
					repo_retrieve(1);
					$("#fm01p")[0].reset();
				}else{
					alert("저장 실패!");
				}
			},
			error:function(request,status,error){
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

	var repo_del = (repo_no) => {
		console.log(repo_no);
		$.ajax({
			url       : "/repo/del",
			type      : "POST",
			async	  : false,
			data	  : {repo_no:repo_no},
			success: function(data) {
				console.log(data);
				if(data.success){
					alert("삭제 완료!");
					repo_retrieve(1);
				}else{
					alert("삭제 실패!");
				}
			},
			error:function(request,status,error){
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

</script>
<!-- SCRIPT END-->

<!-- DATA GRID -->
<section>
	<!-- CONTDITION -->
	<div class="w3-row-padding" style="width:100%;height:60px;">
		<div style="width:90%;float:left;">
			<form id="fm01" class="form-style-9">
				<ul>
					<li>
						<div class="float:left;">
							<label for="s_repo_nm" style="margin-left:10px;float:left;margin-top:5px;">저장소명</label>
							<input id="s_repo_nm" name="s_repo_nm" type="text"  class="field-style field-split align-left" placeholder="저장소명" />
						</div>
						<div class="float:right;">
							<label for="s_repo_type" style="margin-left:10px;">저장소타입</label>
							<select id="s_repo_type" name="s_repo_type" class="" style="height:27px;padding:0px;margin:3px;">
								<option value="">전체</option>
								<option value="public">외부</option>
								<option value="private">내부</option>
							</select>
						</div>
					</li>
					<!-- <li>
						<input type="text" name="field3" class="field-style field-split align-left" placeholder="Phone" />
						<input type="url" name="field4" class="field-style field-split align-right" placeholder="Website" />
					</li>
					<li>
						<input type="text" name="field3" class="field-style field-full align-none" placeholder="Subject" />
					</li> -->
				</ul>
			</form>
		</div>
		<!-- <div style="width:10%;float:right;padding:15px;"><button style="width:100px;height:80px;" type="button">조회</button></div> -->
		<div style="width:10%;float:right;padding:15px;"><button id="searchBtn" style="width:100px;height:40px;" type="button">조회</button></div>
	</div>
	<!-- CONTDITION END -->

	<div class="w3-row-padding" style="height:800px;">
		<div style="float:right;margin-top:10px;"><button id="creRepo" style="">저장소등록</button></div>
		<div style="margin-top:10px;border:1px solid rgba(100, 101, 105, 0.2); width:100%;height:700px;overflow:auto;">
			<table id="gTable"  style="width:1400px;">
				<tr id="ghead"></tr>
			</table>
			<div id="pagination" style="position:absolute; left:50%; margin-left:-50px;margin-top:10px;">
		</div>
	</div>
</section>
<!-- DATA GRID END-->
<!-- Layer Popup-->
	<!-- 팝업 될 레이어 --> 
<div class="modal" style="z-index:10;">
	<div class="modal-content" style="width:750px;height:400px;float:left;">
		<span class="close-button">&times;</span>
		<h1 class="title">저장소등록</h1>
		<form id="fm01p" style="margin: 0 auto;">
			<div>
				<label for="repo_nm">저장소명</label>
				<input id="repo_nm" name="repo_nm" type="text"  placeholder="저장소명" required="required">
			</div>
			<div>
				<label for="repo_center_id">저장소 센터ID</label>
				<input id="repo_center_id" name="repo_center_id" type="text"  placeholder="저장소명" required="required">
			</div>
			<div>
				<label for="repo_source_path">저장소 소스경로</label>
				<input id="repo_source_path" name="repo_source_path" type="text"  placeholder="저장소 소스경로" required="required">
			</div>
			<div>
				<label for="repo_target_path">저장소 타켓경로</label>
				<input id="repo_target_path" name="repo_target_path" type="text"  placeholder="저장소 타켓경로" required="required">
			</div>
			<div>
				<label for="repo_desc">저장소 설명</label>
				<textarea id="repo_desc" rows="500" cols="400" name="repo_desc" style="resize:none; " placeholder="저장소 설명" required="required"></textarea>
			</div>
			<div>
				<label for="repo_type">저장소 타입</label>
				<select id="repo_type" name="repo_type" class="" style="width:100px;height:27px;padding:0px;" required="required">
					<option value="public">외부</option>
					<option value="private">내부</option>
				</select><br>
			</div>
			<input type="button" id="mCancel" value="취소">
			<input type="button" id="mSave" value="저장">
		</form>
	</div>
</div>
<!-- Layer Popup End-->