<!-- SCRIPT -->
<script>
	$(()=>{});

	var center_info_save = () => {
		console.log(($("#fm01p").serialize()));
		var center_id = $("#center_id").val();
		var source_path = $("#source_path").val();
		var target_path = $("#target_path").val();

		if(!center_id || center_id.trim() == ""){
			alert("센터 ID를 입력하세요.");
			$("#center_id").focus();
			return false;
		}
		if(!source_path || source_path.trim() == ""){
			alert("센터 소스경로를 입력하세요.");
			$("#source_path").focus();
			return false;
		}
		if(!target_path || target_path.trim() == ""){
			alert("포탈 저장경로를  입력하세요.");
			$("#target_path").focus();
			return false;
		}
		$.ajax({
			url       : "/admin/save",
			type      : "POST",
			async	  : false,
			data	  : $("#fm01p").serialize(),
			success:(data) => {
				console.log(data);
				if(data.success){
					alert("센터 정보 수정 완료!");
				}else{
					alert("센터 정보 수정 실패!");
				}
			},
			error:(request,status,error)=>{
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};
</script>
<!-- SCRIPT END-->
<style>
	.pop_tabla  {width:100%; font-size:12px;}
	.pop_tabla th {background:#f4f4f4; border-bottom:1px solid #ddd;padding:10px;  text-align:center; width:140px;}
	.pop_tabla th .point_color{color:#ef1111;}
	.pop_tabla td {border-bottom:1px solid #ddd; padding:10px; background-color: white;}
	.pop_tabla td input {border:1px solid #ddd; padding:5px 10px; width:85%; background-color: white;}
	.pop_tabla td select {border:1px solid #ddd; padding:5px 10px; background-color: white; }
	.pop_tabla td textarea {border:1px solid #ddd; padding:5px 10px; background-color: white;}
	.pop_tabla .text_center { text-align:center;}
	.table_bt01 {text-align:center; float:left;}
	.table_bt01 a{border:1px solid #009fe9; background:#009fe9; color:#fff; display:inline-block; padding:14px 40px; text-decoration:none; font-size:13px;}
	.table_bt02 {text-align:center; float:left;}
	.table_bt02 a{border:1px solid #009fe9; color:#009fe9; display:inline-block; padding:14px 40px; text-decoration:none; font-size:13px;}
</style>
<!-- DATA GRID -->
<section>
	<div class="w3-row-padding" style="height:800px;">
		<form id="fm01p" style="margin: 0 auto;">
			<div style="width:100%;">
				<div style="margin:0 0px 0px 0px;">
					<table cellpadding="0" cellspacing="0" class="pop_tabla">
						<tr>
							<th>센터 ID<span class="point_color">*</span></th>
							<td colspan="3">
								<input id="center_id" type="text"  name="center_id" placeholder="센터ID를 입력 하세요.(xxx_org)" required value="<%= center_id %>" style="width:97.7%;">	
							</td>
						</tr>
						<tr>
							<th>센터 소스경로 <span class="point_color">*</span></th>
							<td colspan="3"><input id="source_path" type="text"  name="source_path" placeholder="센터 소스경로를 입력 하세요" required value="<%= source_path %>" style="width:97.7%;"></td>
						</tr>
						<tr>
							<th>포탈 저장경로 <span class="point_color">*</span></th>
							<td colspan="3"><input id="target_path" type="text"  name="target_path" placeholder="포탈 저장경로를 입력 하세요" required value="<%= target_path %>" style="width:97.7%;"></td>
						</tr>
					</table>
					<div style="float:right;padding-top:10px;">
						<p class="table_bt01" style="margin-left:7px;"><a href="javascript:center_info_save();"><strong>수정</strong></a></p>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
<!-- DATA GRID END-->