<!DOCTYPE html>
<html lang="ko">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/fonts.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/stylesheets/paging/simplePagination.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/main/w3.css">
<link type="text/css" rel="stylesheet" href="/stylesheets/main/style.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/form.css"/>
<script type="text/javascript" src="/javascripts/jquery/jquery.3.4.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery/jquery.simplePagination.js"></script>
<head>
	<meta charset="UTF-8">
	<title>데이터 연계시스템</title>
<script>
	$(()=>{
		$(".one_depth_item > a").on("click",function(){
			var cshow = $("#leftMenu").find(".w3-show").attr("id");
			$(".one_depth_item").removeClass("active");
			$(this).parent().addClass("active");
			$("#menuNm").text($(this).attr("title"));

			var url = $(this).attr("url");
			$.ajax({
				url       : url,
				type      : "GET",
				async	  : false,
				success:(html) => {
					if(html.indexOf('<html lang="ko">') > -1){
						location.replace("/");
					}else{
						$("#contents").empty().append(html);
					}
				}
			});
		});

		$("#logo").click(()=>{
			location.replace("/");
		});
	});
</script>
</head>
<body>
	<div class="side_wrap">
		<h1><img id="logo" src="/images/logo.png" alt="로고"></h1>
		<ul class="one_depth">
			<!-- <li class="one_depth_item active"><a href="javascript:void(0);">저장소</a>
				 <ul class="two_depth">
				 	<li class="two_depth_item"><a href="">목록</a></li>
				 </ul>
			</li> -->
			<li class="one_depth_item"><a href="javascript:void(0);" title="센터정보" url="/admin">센터 정보</a></li>
			<li class="one_depth_item"><a href="javascript:void(0);" title="메타데이터 [Resource]" url="/resource">메티데이터</a></li>
			<li class="one_depth_item"><a href="javascript:void(0);" title="배포 [Distribution]" url="/distribution">배포</a></li>
		</ul>
	</div>
	<div class="sub_content">
		<div class="sub_header">	
			<h2 id="menuNm">메인</h2>
			<div class="user_util">
				<span class="user_name"><%= user_id %>님 환영합니다.</span>
				<a href="javascript:location.replace('/logout')" class="user_login_btn">LOGOUT</a>
			</div>
		</div>	
		<div id="contents" class="sub_page"></div>
	</div>

</body>
</html>