<!DOCTYPE html>
<html>
<title>Interface</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/stylesheets/main/w3.css">
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/stylesheets/paging/simplePagination.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/main/style.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/form.css"/>

<script type="text/javascript" src="/javascripts/jquery/jquery.3.4.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery/jquery.simplePagination.js"></script>	
<script>
	$(function(){
		$("#leftMenu > a").on("click",function(){
			var cshow = $("#leftMenu").find(".w3-show").attr("id");
			$("#leftMenu div").removeClass("w3-show");
			if((this.id+"-sub") != cshow){
				$("#"+this.id+"-sub").addClass("w3-show");
			}
		});

		$("#leftMenu > div > a").on("click",function(){
			var cshow = $("#leftMenu").find(".w3-show").attr("id");
			$("#leftMenu div a")
				.removeClass("w3-light-grey")
				.find("i").remove();
			
			$(this)
				.addClass("w3-light-grey")
				.prepend("<i class='fa fa-caret-right w3-margin-right'></i>");

			$("#menuNm").text($(this).attr("title"));

			var url = $(this).attr("url");
			$.ajax({
				url       : url,
				type      : "GET",
				async	  : false,
				success: function(html) {
					$("#contents").empty().append(html);
				}
			});

		});


	});

// 	function w3_open() {
//   document.getElementById("mySidebar").style.display = "block";
//   document.getElementById("myOverlay").style.display = "block";
// }
 
// function w3_close() {
//   document.getElementById("mySidebar").style.display = "none";
//   document.getElementById("myOverlay").style.display = "none";
// }

	var bar_open = () => {
		$("#m_sidebar, #m_overlay").show();
	};

	var bar_close = () => {
		$("#m_sidebar, #m_overlay").hide();
	};
</script>
<body class="w3-content" style="max-width:1400px">
	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px;border-right: 1px solid rgba(100, 101, 105, 0.2);" id="m_sidebar">
		<div class="w3-container w3-display-container w3-padding-16">
			<i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
			<h3 class="w3-wide"><img src="/images/datanuri_logo.png" onclick="javascript:location.hreg='/logout'"></h3>
		</div>
		<div id="leftMenu" class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
			
			<a id="storgae" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align">
				저장소 <i class="fa fa-caret-down"></i>
			</a>
			<div id="storgae-sub" class="w3-bar-block w3-hide w3-padding-large w3-medium">
				<a href="javascript:void(0)" class="w3-bar-item w3-button" title="저장소 목록" url="/repository">목록</a>
				<a href="javascript:void(0)" class="w3-bar-item w3-button" title="저장소 이력" url="/repository/history">이력</a>
			</div>

			<a id="metadata" href="javascript:void(0)"  class="w3-button w3-block w3-white w3-left-align">
				메타데이터  <i class="fa fa-caret-down"></i>
			</a>
			<div id="metadata-sub" class="w3-bar-block w3-hide w3-padding-large w3-medium">
					<a href="javascript:void(0)" class="w3-bar-item w3-button" title="메타데이터 목록" url="/metadata">목록</a>
					<a href="javascript:void(0)" class="w3-bar-item w3-button" title="메타데이터 이력" url="/metadata/history">이력</a>
			</div>

			<a id="dataload" href="javascript:void(0)"  class="w3-button w3-block w3-white w3-left-align">
				적재  <i class="fa fa-caret-down"></i>
			</a>
			<div id="dataload-sub" class="w3-bar-block w3-hide w3-padding-large w3-medium">
					<a href="javascript:void(0)" class="w3-bar-item w3-button" title="적재 목록" url="/dataload">목록</a>
					<a href="javascript:void(0)" class="w3-bar-item w3-button" title="적재 이력" url="/dataload/history">이력</a>
			</div>
		</div>
	</nav>

	<!-- Top menu on small screens -->
	<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
		<div class="w3-bar-item w3-padding-24 w3-wide">Datanuri Interface Management</div>
		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="bar_open()"><i class="fa fa-bars"></i></a>
	</header>

	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large" onclick="bar_close()" style="cursor:pointer" title="close side menu" id="m_overlay"></div>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left:250px">

	<!-- Push down content on small screens -->
	<!-- <div class="w3-hide-large" style="margin-top:83px"></div> -->
	
	<!-- Top header -->
	<header class="w3-container w3-xlarge" style="background-color:whitesmoke;">
		<p id="menuNm" class="w3-left">MAIN</p>
		<p class="w3-right">
			admin <a href="javascript:location.href='/logout';"> <span style="color:darkslategray">Logout</span></a>
		</p>
	</header>
	<!-- BODY CONTENT -->
	<div id="contents"></div>
	<!-- BODY CONTENT END-->
</body>
</html>
