<!DOCTYPE html>
<html>

<head>
	<title>DATANURI NIFI TEST</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
		body,h1,h2,h3,h4,h5,h6 { font-family: "Raleway", Arial, Helvetica, sans-serif }
		.mySlides { display: none }
	</style>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript">
		"use strict"

		var prop = "";

		$(function () {
			$("#setProp").click(function () {
				var source = $("#source").val();
				var target = $("#target").val();
				setPropCall(source, target);
			});
		});

		var setPropCall = function (source, target) {
			var _default_context = "/test/setProp";
			var sendData = {
				source: __source,
				target: __target
			};

			$.ajax({
				url: _default_context,
				thpe: "GET",
				dataType: "json",
				data: sendData,
				success: function (data) {
					$.ajax({
						url: _default_context,
						thpe: "GET",
						dataType: "json",
						data: sendData,
						success: function (data) {
							console.log(data);
							$("#apiresult").val(JSON.stringify(data, null, "  "));
						}
					});
				}
			});
		};
		var getPropCall = function (source, target) {
			var _default_context = "/test/getProp";
			var sendData = {
				source: __source,
				target: __target
			};

			$.ajax({
				url: _default_context,
				thpe: "GET",
				dataType: "json",
				data: sendData,
				success: function (data) {
					console.log(data);
					$("#apiresult").val(JSON.stringify(data, null, "  "));
				}
			});
		};

	</script>
</head>

<body class="w3-content"></body>
<!-- Sidebar/menu -->
<nav class="w3-light-grey w3-collapse w3-top" style="z-index:3;width:400px" id="mySidebar">
	<div class="w3-container w3-display-container w3-padding-16">
		<i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
		<h1>NIFI Process Test</h3>
			<form id="apiForm" action="return false;" target="_blank"></form>
				<p><label>Json (valid)</label></p>
				<input id="source" class="w3-input w3-border" type="text" name="source" required>
				<p><label>Source (csv path)</label></p>
				<input id="source" class="w3-input w3-border" type="text" name="source" required>
				<p><label>Target (out path)</label></p>
				<input id="target" class="w3-input w3-border" type="text" name="target" required>
				
				<p><button id="setProp" class="w3-button w3-block w3-green w3-left-align" type="button">setProp</button></p>
				<p><button id="start" class="w3-button w3-block w3-green w3-left-align" type="button">start</button></p>
			</form>
	</div>

</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white" style="margin-left:400px">
	<div class="w3-container">
		<h4><strong>API Result</strong></h4>
		<div class="w3-row w3-large">
			<textarea id="apiresult" name="apiresult" cols="90" rows="29"></textarea>
		</div>
	</div>
	<!-- End page content -->
</div>


</body>

</html>