<!-- SCRIPT -->
<script>
	var pageObj;
	var pageItems = 4; 
	var current_page = 1; 
	var repo_list;
	var datasetId = "";
	var datasetTitle = "";
	$(()=>{
		pageObj = $("#pagination").pagination({
			items: 1,
			itemsOnPage: 20,
			cssStyle: 'light-theme',
			onPageClick : function(p,e){
				console.log(p);
				current_page = p;
				resource_retrieve(p);
			}
		});

		//List_retrieve();
		//mataList_retrieve();
		//GRID 생성
		make_header();

		$(".close-button, #mCancel").click((e)=>{
			$("#fm01p")[0].reset();
			$("#fm02p")[0].reset();
			//$("#fm03p")[0].reset();
			$("#insertModal , #modifyModal").removeClass("show-modal");
		//	clearTimeout(loop_timer);
		});

		// 저장소 조회
		repository_retrieve();

		//상품 조회
		$("#searchBtn").click((e)=>{
			resource_retrieve(1);
		});

		//상품 저장
		$("#mSave").click((e)=>{
			resource_save();
		});

		//상품 수정
		$("#mUpdate").click((e)=>{
			resource_update();
		});
		//상품 삭제
		$("#mDelete").click((e)=>{
			resource_delete();
		});
	});
		
	var make_header = ()=>{
		// resource header
		var header = ["No","상품명","설명","상품상태"];
		var size   = ["10","300","900","100"] 
		$.each(header, (i,v) =>{
			$("#ghead").append("<th style='width:"+size[i]+"px;'>"+v+"</th>");
		});

		header = ["No","제목","설명","등록일자"];
		size   = ["10","300","600","200"] 
		$.each(header, (i,v) =>{
			$("#ghead2").append("<th style='width:"+size[i]+"px;'>"+v+"</th>");
		});
	};

	var repository_retrieve = () => {
		$.ajax({
			url       : "/repo/list",
			type      : "GET",
			success: (data) => {
				console.log(data);
				if(data){
					$.each(data, (i,r)=>{
						$("#repo_id").append("<option value='"+r.repo_no+"'>"+r.repo_nm+"</option>");
					});
					repo_list = data;

					$("#repo_id").change((e)=>{
						var repo_no = $("#repo_id").val();
						console.log(repo_no);
						$.each(repo_list, (i,r)=>{
							console.log(r.repo_no+"  "+repo_no);
							if(r.repo_no == repo_no){
								console.log(r.repo_source_path);
								$("#repo_source").val(r.repo_source_path);
								$("#repo_target").val(r.repo_target_path);
								return false;
							}
						});
					});
				}
			},
			error: (request,status,error) => {
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

	var resource_retrieve = (num) => {
		$.ajax({
			url       : "/resource/v1/resource/dataset/list?"+$("#fm01").serialize(),
			type      : "GET",
			data	  : {offset:(num-1)*pageItems,limit:pageItems },
			success: (data) => {
				console.log(data);
				
				if(data){
					var append = "";
					pageObj.pagination('updateItems', data.total);

					//title, ownerNm,ownerId,description,approvalState,downloadcount,issued,modified
					//["No","상품명","제공기업명","제공기업ID","설명","상품상태","다운로드수","생성일","최근수정일" ];
					$("#gTable tr").not('tr:first').remove();
					$.each(data.datasets, (i,r)=>{
						append += "<tr>";
						append += "<td>"+((i+((current_page-1)*pageItems))+1)+"</td>";
						append += "<td><a href='javascript:distribution_retrieve(\""+r.id+"\")'>"+r.title+"</a></td>";
						append += "<td>"+r.description+"</td>";
						if(r.approvalState === "accept"){
							append += "<td>승인완료</td>";
						} else if(r.approvalState === "rejct"){
							append += "<td>반려</td>";
						}
						append += "<td style='100'><button onclick='javascript:insert_distribution(\""+r.id+"\",\""+r.title+"\")' type='button'>배포등록</button></td>";
						append += "</tr>"
					});
					$("#ghead").after(append);
				}
			},
			error: (request,status,error) => {
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

	var distribution_retrieve = (dataset_id) => {
		$.ajax({
			url       : "/distribution/v1/resource/dataset/distribution/list",
			type      : "GET",
			data	  : {dataset_id:dataset_id },
			success: (data) => {
				console.log(data);
				if(data){
					var append = "";

					// //title, ownerNm,ownerId,description,approvalState,downloadcount,issued,modified
					// //["No","상품명","제공기업명","제공기업ID","설명","상품상태","다운로드수","생성일","최근수정일" ];
					$("#gTable2 tr").not('tr:first').remove();
					$.each(data.distributions, (i,r)=>{
						append += "<tr>";
						append += "<td>"+((i+((current_page-1)*pageItems))+1)+"</td>";
						 //append += "<td><a href='javascript:distribution_detail(\""+r.id+"\")'>"+r.title+"</a></td>";
						append += "<td>"+r.title+"</td>";
						append += "<td>"+r.description+"</td>";
						append += "<td>"+r.issued+"</td>";
						append += "</tr>"
					});
					$("#ghead2").after(append);
				}
			},
			error: (request,status,error) => {
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

	// var distribution_save = () => {
	// 	console.log($("#fm01p").serialize());
	// 	// if(!dataset_uuid){
	// 	// 	alert("데이터 적재 수행후 저장 하십시오.");
	// 	// 	return false;
	// 	// }
	// 	// add_distribution();
	// 	// return;
	// 	$.ajax({
	// 		url       : "/distribution/v1/resource/dataset/distribution/save",
	// 		type      : "POST",
	// 		async	  : false,
	// 		data	  : $("#fm01p").serialize(),
	// 		success: (data) => {
	// 			console.log(data);
	// 			if(data.success){
	// 				alert("배포 저장 성공!");
	// 				$(".modal").removeClass("show-modal");
	// 			}else{
	// 				alert("배포 저장 실패!");
	// 			}
	// 		},
	// 		error:(request,status,error) => {
	// 			alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	// 		}
	// 	});
	// };

	var distribution_update = () => {
		$.ajax({
			url       : "/distribution/update",
			type      : "POST",
			async	  : false,
			data	  : $("#fm02p").serialize(),
			success: (data) => {
				console.log(data);
				if(data.success){
					alert("배포 수정 성공!");
					$(".modal").removeClass("show-modal");
					resource_retrieve(1);
				}else{
					alert("수정 실패!");
				}
			},
			error:(request,status,error) =>{
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

	var distribution_delete = (id) => {
		$.ajax({
			url       : "/distribution/delete",
			type      : "POST",
			async	  : false,
			data	  : {id:id},
			success: (data) => {
				console.log(data);
				if(data.success){
					alert("배포 삭제 완료!");
					$(".modal").removeClass("show-modal");
					resource_retrieve(1);
				}else{
					alert("삭제 실패!");
				}
			},
			error:(request,status,error) => {
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

	var distribution_detail = (resource_id) => {
		return;
		console.log(resource_id);
		$.ajax({
			url       : "/distribution/detail",
			type      : "GET",
			async	  : false,
			data	  : {resource_id:resource_id},
			success:(data) => {
				console.log(data);
				if(data){
					$("#m_id").val(data[0].id);
					$("#m_title").val(data[0].title);
					$("#m_publisher_id").val(data[0].publisher_id);
					$("#m_owner_id").val(data[0].owner_id);
					$("#m_creator_id").val(data[0].creator_id);
					$("#m_language").val(data[0].language);
					$("#m_landing_page").val(data[0].landing_page);
					$("#m_description").val(data[0].description);
					$("#m_type").val(data[0].type);
					$("#m_issued").val(data[0].issued);
					$("#m_modified").val(data[0].modified);
					$("#m_conforms_to").val(data[0].conforms_to);
					$("#m_version").val(data[0].version);
					$("#m_version_description").val(data[0].version_description);
					$("#m_landing_page_url").val(data[0].landing_page_url);

					if(data[0].is_free){
						console.log(data[0].is_free);
						$("#m_is_free").val("free");
					}else{
						$("#m_is_free").val("charged");
					}

					if(data[0].is_public){
						console.log(data[0].is_public);
						$("#m_is_public").val("public");
					}else{
						$("#m_is_public").val("private");
					}

					// $("#m_is_free").val(data[0].is_free);
					// $("#m_is_public").val(data[0].is_public);

					$("#m_state").val(data[0].state);
					$("#m_image_path").val(data[0].image_path);

					if(data[0].is_personal){
						console.log(data[0].is_personal);
						$("#is_personal").val("personal");
					}else{
						$("#is_personal").val("corp");
					}

					//$("#m_is_personal").val(data[0].is_personal);

					$("#m_approval_state").val(data[0].approval_state);

					$("#m_extras").val(JSON.stringify( data[0].extras ));

					$("#m_remove_type").val(data[0].remove_type);
					$("#m_dq_index").val(data[0].dq_index);
					$("#m_measure_date").val(data[0].measure_date);
					$("#m_spatial_resolution_in_meters").val(data[0].spatial_resolution_in_meters);
					$("#m_temporal_resolution").val(data[0].temporal_resolution);
					$("#m_spatial_uri").val(data[0].spatial_uri);
					$("#m_temporal_start").val(data[0].temporal_start);
					$("#m_temporal_end").val(data[0].temporal_end);
					$("#m_accrual_periodicity").val(data[0].accrual_periodicity);
					$("#m_was_generated_by").val(data[0].was_generated_by);
					$("#m_publisher_spatial_uri").val(data[0].publisher_spatial_uri);
					$("#m_source_type").val(data[0].source_type);
					$("#m_endpoint_description").val(data[0].endpoint_description);
					$("#m_endpoint_url").val(data[0].endpoint_url);
					$("#m_serves_dataset").val(data[0].serves_dataset);
					$("#m_access_rights").val(data[0].access_rights);
					$("#m_license").val(data[0].license);
					$("#m_method").val(data[0].method);
					$("#m_uri").val(data[0].uri);
					//$("#m_is_voucher").val(data[0].is_voucher);
					$("#m_view_cnt").val(data[0].view_cnt);
					$("#m_serves_dataset").val(data[0].serves_dataset);
					
					$("#mModal").addClass("show-modal");
				}
			},
			error:(request,status,error)=>{
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

	// var execute_detail_retrieve = (jobNo) => {
	// 	$.ajax({
	// 		url       : "/resource/list",
	// 		type      : "GET",
	// 		async	  : false,
	// 		data	  : {data_load_no:jobNo},
	// 		success: function(data) {
	// 			if(data){
	// 				console.log(data);
	// 				$("#eRepoNo").append("<option>"+data[0].repo_nm+"</option>");
	// 				$("#eMetaNo").append("<option>"+data[0].meta_nm+"</option>");
	// 				$("#eJobNm").val(data[0].job_nm);
	// 				$("#eJobDesc").val(data[0].job_desc);
	// 				$("#eJobExeUnit").val(data[0].job_exe_unit);
	// 			}
	// 		},
	// 		error:function(request,status,error){
	// 			alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	// 		}
	// 	});
	// };

	var execute_data_load = () => {

		var source_file_name = $("#source_file_name").val();
		var source_path = $("#repo_source").val();
		var target_path = $("#repo_target").val();
		var resource_id = $("#datasetId").val();

		if($("#title").val().trim() == ""){
			alert("배포명을 입력 하세요!");
			$("#title").focus();
			return false;
		}

		if($("#source_file_name").val().trim() == ""){
			alert("파일명을 입력 하세요!");
			$("#source_file_name").focus();
			return false;
		}
		if($("#repo_source").val().trim() == ""){
			alert("소스 경로를 입력하세요!");
			$("#repo_source").focus();
			return false;
		}
		if($("#repo_target").val().trim() == ""){
			alert("타켓 경로를 입력하세요!");
			$("#repo_target").focus();
			return false;
		}
		if($("#description").val().trim() == ""){
			alert("설명을 입력하세요!");
			$("#description").focus();
			return false;
		}
		if($("#conformsTo").val().trim() == ""){
			alert("기준규정을 입력하세요!");
			$("#conformsTo").focus();
			return false;
		}

		// alert(source_file_name);
		// alert(source_path);
		// alert(resource_id);
		// alert(target_path);

		// $.ajax({
		// 	url       : "/nifi/process_set",
		// 	type      : "GET",
		// 	async	  : false,
		// 	data	  : {source_file_name:source_file_name,source_path:source_path,target_path:target_path,resource_id:resource_id},
		// 	success: (data) => {
		// 		console.log(data);
		// 		if(data.success){
		// 			alert("연계 프로세스가 시작 되었습니다.");
		// 			console.log( $("#fm01p").serialize() );
					$.ajax({
						url       : "/distribution/v1/resource/dataset/distribution/save",
						type      : "POST",
						data	  : $("#fm01p").serialize(),
						success: (data) => {
							console.log(data);
					 		if(data.success){
								alert("배포 저장 성공!");
								// $(".modal").removeClass("show-modal");
								add_distribution();
								distribution_retrieve(resource_id);
								$("#fm01p")[0].reset();
								console.log(datasetTitle);
								console.log(datasetId);
								$("#resource_title").val(datasetTitle);
								$("#datasetId").val(datasetId);
								$("#repo_id").trigger("change");
							}else{
								alert("배포 저장 실패!");
							}
						},
						error:(request,status,error) => {
							alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
						}
					});
		// 		}else{
		// 			alert("연계 프로세스가 실패 하였습니다.");
		// 		}
		// 	},
		// 	error:(request,status,error)=>{
		// 		alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		// 	}
		// });
	};

	var insert_distribution = (resource_id, resource_title) =>{
		$("#fm01p")[0].reset();
		$(".modal-content").scrollTop(0);
		$("#repo_source").val(repo_list[0].repo_source_path);
		$("#repo_target").val(repo_list[0].repo_target_path);
		$("#datasetId").val(resource_id);
		$("#resource_title").val(resource_title);
		$("#distribution_add_info tr").not('tr:first').remove();
		$("#insertModal").addClass("show-modal");
		datasetId = resource_id;
		datasetTitle = resource_title;
	};

	var add_distribution = ()=>{
		let append;
		append +="<tr>";
		append +="<td class='text_center'>"+$("#title").val()+"</td>";
		append +="<td class='text_center'>"+$("#format").val()+"</td>";
		append +="<td class='text_center'>"+$("#mediaType").val()+"</td>";
		append +="<td class='text_center'>"+$("#rights").val()+"</td>";
		append +="<td class='text_center'>"+$("#license").val()+"</td>";
		append +="</tr>";
		$("#distribution_add_info").append(append);
	};

	var close_layer = () => {
		$("#fm01p")[0].reset();
		$("#fm02p")[0].reset();
		$("#insertModal , #updateModal , #executeModal").removeClass("show-modal");
		//	clearTimeout(loop_timer);
	};
</script>
<!-- SCRIPT END-->

<!-- DATA GRID -->
<section>
	<!-- CONTDITION -->
	<div class="w3-row-padding" style="width:100%;height:60px;">
		<div style="width:90%;float:left;">
			<form id="fm01" class="form-style-9">
				<ul>
					<li>
						<div style="float:left;">
							<label for="s_keyword" style="margin-left:10px;margin-top:5px;">상품명</label>
							<input id="s_keyword" name="s_keyword" type="text" style="width:400px;" class="field-style field-split" placeholder="상품명" />
						</div>
					</li>
				</ul>
			</form>
		</div>
		<!-- <div style="width:10%;float:right;padding:15px;"><button style="width:100px;height:80px;" type="button">조회</button></div> -->
		<div style="width:10%;float:right;padding-left:15px;padding-top:5px;"><button id="searchBtn" style="width:100px;height:40px;" type="button">조회</button></div>
	</div>
	<!-- CONTDITION END -->

	<div class="w3-row-padding" style="height:800px;">
		<div style="margin-top:10px;border:1px solid rgba(100, 101, 105, 0.2); width:100%;height:350px;overflow:auto;">
			<table id="gTable" style="width:1500px;">
				<tr id="ghead"></tr>
			</table>
			<div id="pagination" style="position:absolute; left:50%; margin-left:-50px;margin-top:10px;"></div>
		</div>
		<div style="margin-top:10px;border:1px solid rgba(100, 101, 105, 0.2); width:100%;height:400px;overflow:auto;">
			<table id="gTable2" style="width:1400px;">
				<tr id="ghead2"></tr>
			</table>
		</div>
	</div>
</section>
<!-- DATA GRID END-->
<!-- Layer Popup-->
	<!-- 팝업 될 레이어 --> 
<style>
	.pop_tabla  {width:100%; border-top:2px solid #000; border-bottom:1px solid #000; font-size:12px;}
	.pop_tabla th {background:#f4f4f4; border-bottom:1px solid #ddd;padding:10px;  text-align:center; width:100px;}
	.pop_tabla th .point_color{color:#ef1111;}
	.pop_tabla td {border-bottom:1px solid #ddd; padding:10px; background-color: white;}
	.pop_tabla td input {border:1px solid #ddd; padding:5px 10px; width:85%; background-color: white;}
	.pop_tabla td select {border:1px solid #ddd; padding:5px 10px; background-color: white; }
	.pop_tabla td textarea {border:1px solid #ddd; padding:5px 10px; background-color: white;}
	.pop_tabla .text_center { text-align:center;}
	.table_bt01 {text-align:center; float:left;}
	.table_bt01 a{border:1px solid #009fe9; background:#009fe9; color:#fff; display:inline-block; padding:14px 40px; text-decoration:none; font-size:13px;}
	.table_bt02 {text-align:center; float:left;}
	.table_bt02 a{border:1px solid #009fe9; color:#009fe9; display:inline-block; padding:14px 40px; text-decoration:none; font-size:13px;}
</style>
<div id="insertModal" class="modal" style="z-index:10;">
	<div class="modal-content" style="height:850px;width:1400px;overflow:auto;">
		<span class="close-button">&times;</span>
		<h1 class="title">데이터(배포)등록</h1>
		<!-- var header = ["No","저장소명","메타명","메타설명","소스경로","소스API","타켓경로","타켓API","검증포맷" ]; -->
		<form id="fm01p" style="margin: 0 auto; width: 1350px;">
			<div style="width:1350px;">
				<div style="margin:0 30px 20px 30px;">
					<table cellpadding="0" cellspacing="0" class="pop_tabla">
						<tr>
							<th>상품명</span></th>
							<td colspan="7">
								<input id="resource_title" type="text"  name="resource_title" placeholder="상품명" required readonly>	
							</td>
						</tr>
						<tr>
							<input id="datasetId" name="datasetId" type="hidden" >
							<th>배포명 <span class="point_color">*</span></th>
							<td colspan="7"><input id="title" type="text"  name="title" placeholder="배포명을 입력 하세요"></td>
						</tr>
						<tr>
							<th>데이터 저장소</th>
							<td colspan="3">
								<select id="repo_id" name="repo_id"> </select>
							</td>
							<th>파일명<span class="point_color">*</span></th>
							<td colspan="3"><input id="source_file_name" type="text"  name="source_file_name" placeholder="파일명을 입력 하세요.ex)aaa.csv"></td colspan="3">	
						</tr>
						<tr>
							<th>소스경로</th>
							<td colspan="3"><input id="repo_source" type="text"  name="repo_source" readonly></td colspan="3">
							<th>타켓경로</th>
							<td colspan="3"><input id="repo_target" type="text"  name="repo_target" readonly></td>
						</tr>
						<tr>
							<th>미디어 타입</th>
							<td colspan="3"><input id="mediaType" type="text"  name="mediaType" placeholder="미디어 타입을 입력 하세요"></td>
							<th>포맷</th>
							<td colspan="3"><input id="format" type="text"  name="format" placeholder="배포 포맷을 입력하세요." ></td colspan="7">
						</tr>
						<tr>
							<th>저작권</th>
							<td colspan="3"><input id="rights" type="text"  name="rights" placeholder="저작권을 입력 하세요"></td>
							<th>라이선스</th>
							<td colspan="3"><input id="license" type="text"  name="license" placeholder="라이센스를 입력 하세요"></td>
						</tr>
						<tr>
							<th>공간해상도</th>
							<td colspan="3"><input id="spatialResolutionInMeters" type="text"  name="spatialResolutionInMeters" placeholder="간해상도를 입력 하세요"></td colspan="3">
							<th>시간해상도</th>
							<td colspan="3"><input id="temporalResolution" type="text"  name="temporalResolution" placeholder="시간해상도를 입력하세요"></td colspan="3">
						</tr>
						<tr>
							<th>설명</th>
							<td colspan="7">
								<textarea id="description" name="description" placeholder="설명을 입력하세요" style="width:95%; height:100px; "></textarea>
							</td>
						</tr>
						<tr>
							<th>기준규정</th>
							<td colspan="7"><input id="conformsTo" type="text"  name="conformsTo" placeholder="기준규정을 입력 하세요"></tdcolspan="3">
							<!-- <th>Access Right</th>
							<td><input id="" type="text"  name="" placeholder="접근권한을 입력하세요"></td> -->
						</tr>
					</table>
				
					<!-- <p style="font-size:20px; color:#222; font-weight:bold; margin-top:30px;">데이터 필드 정의</p>
					<table cellpadding="0" cellspacing="0" class="pop_tabla">
						<tr>
							<th>번호</th>
							<th>데이터 필드명</th>
							<th>데이터 유형</th>
							<th>유형보기</th>
							<th>데이터 필드명 설명</th>
							<th>단위(직접입력)</th>
							<th>체크결과</th>
						</tr>
						<tr>
							<td class="text_center">1</td>
							<td class="text_center">일자</td>
							<td class="text_center">
								<select name="">
									<option>날짜</option>
								</select>
							</td>
							<td class="text_center">YYYY-MM-DD</td>
							<td class="text_center">일자</td>
							<td class="text_center"></td>
							<td class="text_center">유효성 체크를 하세요!</td>
						</tr>
						<tr>
							<td class="text_center">2</td>
							<td class="text_center">시간</td>
							<td class="text_center">
								<select name="">
									<option>시간</option>
								</select>
							</td>
							<td class="text_center">HH:MM:SS</td>
							<td class="text_center">시간</td>
							<td class="text_center"></td>
							<td class="text_center">유효성 체크를 하세요!</td>
						</tr>
						<tr>
							<td class="text_center">3</td>
							<td class="text_center">지역</td>
							<td class="text_center">
								<select name="">
									<option>텍스트</option>
								</select>
							</td>
							<td class="text_center">형식에 제한이 없는 Text</td>
							<td class="text_center">지역</td>
							<td class="text_center"></td>
							<td class="text_center">유효성 체크를 하세요!</td>
						</tr>
						<tr>
							<td class="text_center">4</td>
							<td class="text_center">점포유형</td>
							<td class="text_center">
								<select name="">
									<option>텍스트</option>
								</select>
							</td>
							<td class="text_center">형식에 제한이 없는 Text</td>
							<td class="text_center">점포유형</td>
							<td class="text_center"></td>
							<td class="text_center">유효성 체크를 하세요!</td>
						</tr>
					</table>
					<div style="float:right;">
						<p class="table_bt01"><a href="javascript:field_add();" target="_blank"><strong>추가</strong></a></p>
						<p class="table_bt02" style="margin-left:20px;"><a href="javascript:field_del();" target="_blank"><strong>삭제</strong></a></p>
						<p class="table_bt02" style="margin-left:20px;"><a href="javascript:field_init();" target="_blank"><strong>초기화</strong></a></p>
					</div> -->

					
					<div style="float:right;">
						<!-- <p style="font-size:20px; color:#222; font-weight:bold; margin-top:80px; ">데이터 목록</p> -->
						<p class="table_bt01"><a href="javascript:execute_data_load();"><strong>연계</strong></a></p>
					</div>

					<table id="distribution_add_info"  cellpadding="0" cellspacing="0" class="pop_tabla">
						<tr>
							<th>데이터명</th>
							<th>포맷</th>
							<th>미디어타입</th>
							<th>저작권</th>
							<th>라이선스</th>
						</tr>
					</table>
					<div style="float:right;">
						<!-- <p style="font-size:20px; color:#222; font-weight:bold; margin-top:80px; ">데이터 목록</p> -->
						<p class="table_bt01"><a href="javascript:close_layer();" style="background-color: gray;"><strong>닫기</strong></a></p>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="updateModal" class="modal" style="z-index:10;">
	<div class="modal-content" style="height:850px;width:1250px;overflow:auto;">
		<span class="close-button">&times;</span>
		<h1 class="title">메타수정</h1>
		<!-- var header = ["No","저장소명","메타명","메타설명","소스경로","소스API","타켓경로","타켓API","검증포맷" ]; -->
		<form id="fm02p" style="margin: 0 auto; width: 1220px;">
			<input type="hidden" id="m_id" name="m_id">
			<div style="width:1200px;">
				<div style="margin:0 30px 20px 30px;">
					<table cellpadding="0" cellspacing="0" class="pop_tabla">
						<tr>
							<th>상품명</th>
							<td><input id="m_title" type="text"  name="m_title" placeholder="상품명"></td>
							<th>상품등록자</th>
							<td><input id="m_publisher_id" type="text"  name="m_publisher_id" placeholder="상품등록자"></td>
							<th>상품판매자</th>
							<td><input id="m_owner_id" type="text"  name="m_owner_id" placeholder="상품판매자"></td>
							<th>상품생성자</th>
							<td><input id="m_creator_id" type="text"  name="m_creator_id" placeholder="상품생성자"></td>
						</tr>
						<tr>
							<th>상품설명</th>
							<td colspan="7"><input id="m_description" type="text"  name="m_description" placeholder="상품이미지 URL" style="width:97.7%;"></td>
						</tr>
						<tr>
							<th>랜딩페이지</th>
							<td colspan="3"><input id="m_landing_page" type="text"  name="m_landing_page" placeholder="랜딩페이지" ></td>
							<th>랜딩페이지URL</th>
							<td colspan="3"><input id="m_landing_page_url" type="text"  name="m_landing_page_url" placeholder="랜딩페이지URL"></td>
						</tr>
						<tr>
							<th>언어</th>
							<td>
								<select id="m_language" name="m_language">
									<option value="kor">한국</option>
									<option value="usa">미국</option>
									<option value="jpn">일본</option>
									<option value="cha">중국</option>
								</select>
							</td>
							<th>상품분류</th>
							<td><input id="m_type" type="text"  name="m_type" placeholder="상품분류"></td>
							<th>분류체계</th>
							<td><input id="m_taxonomy" type="text"  name="m_taxonomy" placeholder="분류체계"></td>
							<th>생성일자</th>
							<td><input id="m_issued" type="text"  name="m_issued" placeholder="생성일자"></td>
						</tr>
						<tr>
							<th>수정일자</th>
							<td colspan="3"><input id="m_modified" type="text"  name="m_modified" placeholder="수정일자"></td>
							<th>버젼</th>
							<td colspan="3"><input id="m_version" type="text"  name="m_version" placeholder="버전"></td>
						</tr>
						<tr>
							<th>버젼설명</th>
							<td colspan="7">
								<textarea  id="m_version_description" name="m_version_description" placeholder="버젼설명" style="width:95%; height:100px; "></textarea>
							</td>
						</tr>
						<tr>
							<th>가격무료여부</th>
							<td>
								<select id="m_is_free" name="m_is_free">
									<option value="free">무료</option>
									<option value="charged">유료</option>
								</select>
							</td>
							<th>공개여부</th>
							<td>
								<select id="m_is_public"  name="m_is_public">
									<option value="public">공개</option>
									<option value="private">미공개</option>
								</select>
							</td>
							<th>상품상태</th>
							<td>
								<select id="m_state" name="m_state">
									<option value="start">판매중</option>
									<option value="stop">판매중단</option>
								</select>
							</td>
							<th>개인상품여부</th>
							<td>
								<select id="m_is_personal" name="m_is_personal">
									<option value="personal">YES</option>
									<option value="corp">NO</option>
								</select>
							</td>
						</tr>
						<tr>
							<th>상품이미지URL</th>
							<td colspan="7"><input id="m_image_path" type="text"  name="m_image_path" placeholder="상품이미지URL"></td>
						</tr>
						<tr>
							<th>EXTEA 필드</th>
							<td colspan="7">
								<textarea id="m_extras" name="m_extras" placeholder="EXTEA 필드" style="width:95%; height:100px; "></textarea>
							</td>
						</tr>
						<tr>
							<th>was generated by</th>
							<td colspan="7"><input id="m_was_generated_by" type="text"  name="m_was_generated_by" placeholder="was generated by"></td>
						</tr>
						<tr>
							<th>데이터 품질지수</th>
							<td><input id="m_dq_index" type="text"  name="m_dq_index" placeholder="데이터 품질지수"></td>
							<th>데이터 품질지수 측정일</th>
							<td><input id="m_measure_date" type="text"  name="m_measure_date" placeholder="데이터 품질지수 측정일"></td>
							<th>공강해상도</th>
							<td><input id="m_spatial_resolution_in_meters" type="text"  name="m_spatial_resolution_in_meters" placeholder="공강해상도"></td>
							<th>공간정보</th>
							<td><input id="m_spatial_uri" type="text"  name="m_spatial_uri" placeholder="공간정보"></td>
						</tr>
						<tr>
							<th>갱신주기</th>
							<td><input id="m_accrual_periodicity" type="text"  name="m_accrual_periodicity" placeholder="갱신주기"></td>
							<th>공간정보(제공자)</th>
							<td><input id="m_publisher_spatial_uri" type="text"  name="m_publisher_spatial_uri" placeholder="공간정보(제공자)"></td>
							<th>시간해상도</th>
							<td><input id="m_temporal_resolution" type="text"  name="m_temporal_resolution" placeholder="시간해상도"></td>
							<th>시작일</th>
							<td><input id="m_temporal_start" type="text"  name="m_temporal_start" placeholder="시작일"></td>
						</tr>
						<tr>
							<th>종료일</th>
							<td><input id="m_temporal_end" type="text"  name="m_temporal_end" placeholder="종료일"></td>
							<th>출처구분</th>
							<td>
								<select id="m_source_type" name="m_source_type">
									<option value="m_personal">개인</option>
									<option value="m_corp">기업</option>
								</select>
							</td>
							<th>접근권한</th>
							<td>
								<select id="m_access_rights" name="m_access_rights">
									<option value="write">쓰기</option>
									<option value="read">읽기</option>
								</select>
							</td>
							<th>삭제타입</th>
							<td>
								<select id="m_remove_type" name="m_remove_type">
									<option value="disposal">보관</option>
									<option value="purge">삭제</option>
								</select>
							</td>
						</tr>
			
						<tr>
							<th>URL</th>
							<td colspan="7"><input id="m_uri" type="text"  name="m_uri" placeholder="URL"></td>
						</tr>
						<tr>
							<th>엔드포인트 URL</th>
							<td colspan="7"><input id="m_endpoint_url" type="text"  name="m_endpoint_url" placeholder="엔드포인트 URL"></td>
						</tr>
						<tr>
							<th>엔트포인트 설명</th>
							<td colspan="7">
								<textarea id="m_endpoint_description" name="m_endpoint_description" placeholder="엔트포인트 설명" style="width:95%; height:100px; "></textarea>
							</td>
						</tr>
						<tr>
							<input type="hidden" id="m_dataset_uuid" name="m_dataset_uuid">
							<th>Server Data Set</th>
							<td colspan="3"><input id="m_serves_dataset" type="text"  name="m_serves_dataset" placeholder="데이터셋 적재 PATH"></td>						
						</tr>
						<tr>
							<th>라이센스</th>
							<td><input id="m_license" type="text"  name="m_license" placeholder="라이센스"></td>
							<th>Conforms_to</th>
							<td colspan="3"><input id="m_conforms_to" type="text"  name="m_conforms_to" placeholder="Conforms_to"></td>
							<th>메소드</th>
							<td><input id="m_method" type="text"  name="m_method" placeholder="메소드"></td>
						</tr>
					</table>
			
					<div style="float:right;">
						<p style="text-align:center; float:left;"><a href="javascript:close_layer();" style="border:1px solid #009fe9; color:#009fe9; display:inline-block; padding:14px 40px; text-decoration:none; font-size:13px;"><strong>취소</strong></a></p>
						<p style="text-align:center; float:left; margin-left:20px;"><a href="javascript:resource_update();" style="border:1px solid #009fe9; background:#009fe9; color:#fff; display:inline-block; padding:14px 40px; text-decoration:none; font-size:13px;"><strong>저장</strong></a></p>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- Layer Popup End-->
