<!-- SCRIPT -->
<script>
	var pageObj;
	var pageItems = 20; 
	var current_page = 1; 
	var userid = "<%= user_id %>";

	var keyword_row_template  = " <tr>";
		keyword_row_template += " 	<td class='text_center'>#keyword_num#</td>";
		keyword_row_template += " 	<td class='text_center'><input id='keyword_field_name' placeholder='키워드를 입력 하세요' field_val></td>";
		keyword_row_template += " 	<td class='text_center'>";
		keyword_row_template += " 		<select id='keyword_type' name='keyword_type'>";
		keyword_row_template += " 			<option value='platform'>Platform</option>";
		keyword_row_template += " 		</select>";
		keyword_row_template += " 	</td>";
		keyword_row_template += " 	<td><button type='button' onclick='keyword_del_row(this)'>삭제</button></td>";
		keyword_row_template += " </tr>";
		

	$(()=>{
		var items = 20;
		pageObj = $("#pagination").pagination({
			items: 0,
			itemsOnPage: pageItems,
			cssStyle: 'light-theme',
			onPageClick : function(p,e){
				resource_retrieve(p);
			}
		});
	
		//그리드 아이템 수 변경 10 => 20으로
		//pageObj.pagination('updateItemsOnPage', 5);

		// 조회된 아이템수 변경 100 => 200
		//pageObj.pagination('updateItems', 200);

		//페이지 선택 1 => 5
		//pageObj.pagination('drawPage', 5);
		//pageObj.pagination('selectPage', 6);

		//GRID HEADER
		make_header();

		$(".close-button, #mCancel").click((e)=>{
			$("#fm01p")[0].reset();
			$("#fm02p")[0].reset();
			$("#insert_modal , #update_modal").removeClass("show-modal");
		//	clearTimeout(loop_timer);
		});
		//taxonomy version retrieve
		taxonomy_version_list_retrieve();
		//상품 조회
		$("#searchBtn").click((e)=>{
			resource_retrieve(1);
		});
		//상품 등록 팝업
		$("#insert_popup").click((e)=>{
			$("#fm01p")[0].reset();
			$(".modal-content").scrollTop(0);
			// $("#ownerId").val(userid);
			// $("#publisherId").val(userid);

			var currentDay = get_current_day;
			$("#temporalStart").val(currentDay);
			$("#temporalEnd").val(currentDay);

			$("#insert_modal").addClass("show-modal");
		});
		//상품 저장
		$("#mSave").click((e)=>{
			resource_save();
		});
		//상품 수정
		$("#mUpdate").click((e)=>{
			resource_update();
		});
		//상품 삭제
		$("#mDelete").click((e)=>{
			resource_delete();
		});

		$("#priceType").on("change",(e)=>{
			var v = $("#priceType").val();
			if(v == "charge"){
				$(".price").show();
			}else{
				$(".price").hide();
				$("#price").val("0");
			}
		});

		$("#m_priceType").on("change",(e)=>{
			var v = $("#m_priceType").val();
			if(v == "charge"){
				$(".price").show();
			}else{
				$(".price").hide();
				$("#m_userPrice").val("0");
			}
		});

		mask_field();
	});

	var mask_field = () =>{
		$("#temporalStart, #temporalEnd, #m_temporalStart, #m_temporalEnd").mask("0000-00-00", {"translation": {0: {pattern: /[0-9*]/}}});
		$("#price, #m_userPrice").mask("0,000,000,000",{reverse: true,"translation": {0: {pattern: /[0-9*]/}}});
	};

	var insert_popup = () => {
		$("#fm01p")[0].reset();
		$(".modal-content").scrollTop(0);
		// $("#ownerId").val(userid);
		// $("#publisherId").val(userid);

		var currentDay = get_current_day;
		$("#temporalStart").val(currentDay);
		$("#temporalEnd").val(currentDay);
		$("#priceType").trigger("change");
		$("#insert_modal").addClass("show-modal");
	};

	var make_header = ()=>{
		// var header = ["No","상품명","제공기업명","제공기업ID","설명","상품상태","다운수","등록일자","최근수정일" ];
		// var size   = ["10","300","100","200","600","100","60","100","100"];
		var header = ["No","상품명","설명","상품상태","등록일자","최근수정일" ];
		var size   = ["10","300","600","100","100","100"];
		$.each(header, (i,v) =>{
			$("#ghead").append("<th style='width:"+size[i]+"px;'>"+v+"</th>");
		});
	};

	// 분류 체계 버젼 리스트 조회
	var taxonomy_version_list_retrieve = () => {
		$.ajax({
			url       : "/resource/v1/reference-model/taxonomy/version/list",
			type      : "GET",
			success: (data) => {
				console.log(data);
				if(data){
					if(data.success){
						console.error(data);
					}else{
						let option = "";
						$.each(data.versions,(i,r) => {
							option +="<option value="+r.versionId+">"+r.version+"</option>";
						});

						$("#taxonomy_version").append(option);
						$("#taxonomy_version").change(()=>{	
							console.log($("#taxonomy_version").val());
							option = "";
							 category_list_retrieve($("#taxonomy_version").val()).then((category_list)=>{
								$("#category_list").empty();
								$.each(category_list.taxonomy,(i,r) => {
									if(i==0) return true;
									option +="<option value="+r.id+">"+r.title+"</option>";
								});
								$("#category_list").append(option);
							});
						});

						$("#taxonomy_version").trigger("change");
					}
				}
			},
			error: (request,status,error) => {
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};
	// 카테고리 리스트 조회
	var category_list_retrieve = (versionId) => {
		return new Promise((resolve,reject)=>{
			try{
				$.ajax({
					url			: "/resource/v1/reference-model/taxonomy/category/list",
					type		: "GET",
					data 		: {versionId:versionId},
					success:(data)=>{
						resolve(data);
					},
					error:(request,status,error)=>{
						alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
						reject({success:false})
					}
				});
			}catch(e){
				console.log(e);
			}
		});
	};

	// 메타데이터 조회
	var resource_retrieve = (num) => {
		current_page = num;
		$.ajax({
			url       : "/resource/v1/resource/dataset/list?"+$("#fm01").serialize(),
			type      : "GET",
			data	  : {offset:(num-1)*pageItems,limit:pageItems },
			success: (data) => {
				//console.log(data);
				
				if(data){
					var append = "";
					if(num == 1) pageObj.pagination('drawPage', 1);
					pageObj.pagination('updateItems', data.total);

					//title, ownerNm,ownerId,description,approvalState,downloadcount,issued,modified
					//["No","상품명","제공기업명","제공기업ID","설명","상품상태","다운로드수","생성일","최근수정일" ];
					$("#gTable tr").not('tr:first').remove();
					$.each(data.datasets, (i,r)=>{
						append += "<tr>";
						append += "<td><a href='javascript:resource_detail(\""+r.id+"\")'>"+((i+((current_page-1)*pageItems))+1)+"</a></td>";
						append += "<td style='text-decoration:underline;'><a href='javascript:resource_detail(\""+r.id+"\")'>"+r.title+"</a></td>";
						// append += "<td>"+r.ownerNm+"</td>";
						// append += "<td>"+r.ownerId+"</td>";
						append += "<td>"+r.description+"</td>";
						if(r.approvalState === "accept"){
							append += "<td>승인완료</td>";
						} else if(r.approvalState === "rejct"){
							append += "<td>반려</td>";
						} else if(r.approvalState === "return"){
							append += "<td>반려</td>";
						} else{
							append += "<td>"+r.approvalState+"</td>";
						}
						//append += "<td>"+r.downloadcount+"</td>";
						append += "<td>"+(r.issued==null?"":r.issued.substring(0,10))+"</td>";
						append += "<td>"+(r.modified==null?"":r.modified.substring(0,10))+"</td>";	
						append += "<td class='delete' style='display:none;'><button style='height:40px;width:80px;background-color:gray;border:inset;color:white;padding:0px 0px 0px 0px;' onclick='javascript:resource_remove(\""+r.id+"\")' type='button'>삭제</button></td>";
						append += "</tr>"
					});
					$("#ghead").after(append);
				}
			},
			error: (request,status,error) => {
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

	// 메타데이터 등록
	var resource_save = () => {
		console.log($("#fm01p :input").filter((i, e)=>{return $(e).val() != '';}).serialize());
		
		if($("#title").val().trim() == ""){
			alert("상품명을 입력하세요!");
			$("#title").focus();
			return false;
		}
		if($("#description").val().trim() == ""){
			alert("상품 설명을 입력하세요!");
			$("#description").focus();
			return false;
		}
		if($("#landingPage").val().trim() == ""){
			alert("랜딩페이지를 입력하세요!");
			$("#landingPage").focus();
			return false;
		}
		if($("#license").val().trim() == ""){
			alert("라이센스를 입력하세요!");
			$("#license").focus();
			return false;
		}

		var pt = $("#priceType").val();
		if(pt && pt == "charge"){
			var p = $("#price").val().replace(/,/g,"");

			if(p == "" || p < 1){
				alert("가격을 입력해 주세요.\n가격 범위는 1 ~ 2,147,483,647 입니다.");
				$("#price").focus();
				return false;
			}
				
			if(p > 2147483647 ){
				alert("가격이 너무 큽니다.\n가격 범위는 1 ~ 2,147,483,647 입니다.");
				$("#price").focus();
				return false;
			}
		}

		var vgj = keyword_get_json("keyword_table");
		console.log(vgj);
		if(vgj)$("#keyword").val(vgj);
		else return false;

		$.ajax({
			url			: "/resource/v1/resource/dataset/save",
			type		: "POST",
			data		: $("#fm01p :input").filter((i, e)=>{return $(e).val() != '';}).serialize(),
			success: (data) => {
				//console.log(data);
				if(data.success){
					alert("상품 저장 성공!");
					$(".modal").removeClass("show-modal");
					keyword_init();
					resource_retrieve(1);
				}else{
					alert("상품 저장 실패!");
				}
			},
			error:(request,status,error)=>{
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

	// 메타데이터 수정
	var resource_update = () => {
		var vgj = keyword_get_json("keyword_update_table");
		console.log(vgj);
		if(vgj)$("#m_keyword").val(vgj);
		else return false;
		
		console.log($("#fm02p").serialize());

		if($("#m_title").val().trim() == ""){
			alert("상품명을 입력하세요!");
			$("#m_title").focus();
			return false;
		}
		if($("#m_description").val().trim() == ""){
			alert("상품 설명을 입력하세요!");
			$("#description").focus();
			return false;
		}
		if($("#m_landingPage").val().trim() == ""){
			alert("랜딩페이지를 입력하세요!");
			$("#m_landingPage").focus();
			return false;
		}
		if($("#m_license").val().trim() == ""){
			alert("라이센스를 입력하세요!");
			$("#m_license").focus();
			return false;
		}

		var pt = $("#m_priceType").val();
		if(pt && pt == "charge"){
			var p = $("#m_userPrice").val().replace(/,/g,"");

			if(p == "" || p < 1){
				alert("가격을 입력해 주세요.\n가격 범위는 1 ~ 2,147,483,647 입니다.");
				$("#m_userPrice").focus();
				return false;
			}
				
			if(p > 2147483647 ){
				alert("가격이 너무 큽니다.\n가격 범위는 1 ~ 2,147,483,647 입니다.");
				$("#m_userPrice").focus();
				return false;
			}
		}

		$.ajax({
			url       : "/resource/v1/resource/dataset/update",
			type      : "POST",
			data	  : $("#fm02p").serialize(),
			success: function(data) {
				console.log(data);
				if(data.success){
					alert("수정 성공!");
				
					$(".modal").removeClass("show-modal");
				}else{
					alert("수정 실패!");
				}
			},
			error:(request,status,error) => {
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

	// 메타데이터 삭제
	var resource_remove = (id) => {
		$.ajax({
			url       : "/resource/v1/resource/dataset/remove",
			type      : "POST",
			data	  : {id:id},
			success: (data) => {
				console.log(data);
				if(data.success){
					alert("삭제 완료!");
					$(".modal").removeClass("show-modal");
					resource_retrieve(1);
				}else{
					alert("삭제 실패!");
				}
			},
			error: (request,status,error) => {
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};
	

	// 메타데이터 상세
	var resource_detail = (id) => {
		console.log(id);
		$.ajax({
			url       : "/resource/v1/resource/dataset/get",
			type      : "GET",
			data	  : {id:id},
			success:(data) => {
				console.log(data);
				// 2019/12/13일 DB 변경
				if(data){
					$("#m_id").val(data.id);
					$("#m_title").val(data.title);
					$("#m_ownerId").val(data.ownerId);
					$("#m_creatorId").val(data.creatorId);
					$("#m_language").val(data.language);
					$("#m_landingPage").val(data.landingPage);
					$("#m_license").val(data.license);
					// $("#m_rights").val(data.rights);
					$("#m_description").val(data.description);
					$("#m_descriptionDetail").val(data.descriptionDetail);
					$("#m_type").val(data.type);
					$("#m_issued").val(data.issued);
					$("#m_modified").val(data.modified);
					$("#m_conformsTo").val(data.conformsTo);
					$("#m_version").val(data.version);
					$("#m_versionDescription").val(data.versionDescription);
					$("#m_landingPageUrl").val(data.landingPageUrl);

					$("#m_priceType").val(data.priceType);
					$("#m_priceType").trigger("change");
					//$("#m_userPrice").mask("0,000,000,000");
					$("#m_userPrice").val(data.userPrice).trigger("input");
					//alert($("#m_userPrice").val());
					//$("#m_userPrice").unmask().mask("0000-00-00");
					// $("#m_userPrice").masked(data.userPrice);
					// if(data.is_free == "free"){
					// 	$("#m_priceType").val("free");
					// }else if(data.is_free == "charge"){
					// 	$("#m_priceType").val("charge");
					// }else if(data.is_free == "policy"){
					// 	$("#m_priceType").val("policy");
					// }

					if(data.isPublic){
						console.log(data.isPublic);
						$("#m_isPublic").val("Y");
					}else{
						$("#m_isPublic").val("N");
					}

					$("#m_state").val(data.state);
				// 	$("#m_image_path").val(data.image_path);

					if(data.isPersonal){
						console.log(data.isPersonal);
						$("#m_isPersonal").val("Y");
					}else{
						$("#m_isPersonal").val("N");
					}
					
					// $("#m_isPersonal").val(data.isPersonal);
					// if(data.is_personal){
					// 	console.log(data.is_personal);
					// 	$("#is_personal").val(data.isPersonal);
					// }else{
					// 	$("#is_personal").val("corp");
					// }

				// 	//$("#m_is_personal").val(data.is_personal);

				// 	$("#m_approval_state").val(data.approval_state);


					try{
						JSON.parse(data.extras);
						$("#m_extras").val(JSON.stringify( JSON.parse(data.extras) ));
					}catch(e){
						$("#m_extras").val("");
					}

				// 	$("#m_remove_type").val(data.remove_type);
				// 	$("#m_dq_index").val(data.dq_index);
				// 	$("#m_measure_date").val(data.measure_date);
					$("#m_spatialResolutionInMeters").val(data.spatialResolutionInMeters);
					$("#m_temporalResolution").val(data.temporalResolution);
					// $("#m_spatialUri").val(data.spatial_uri);
					$("#m_temporalStart").val(data.temporalStart).trigger("input");
					$("#m_temporalEnd").val(data.temporalEnd).trigger("input");
					$("#m_accrualPeriodicity").val(data.accrualPeriodicity);
				// 	$("#m_was_generated_by").val(data.was_generated_by);
				// 	$("#m_publisher_spatial_uri").val(data.publisher_spatial_uri);
				// 	$("#m_source_type").val(data.source_type);
				// 	$("#m_endpoint_description").val(data.endpoint_description);
				// 	$("#m_endpoint_url").val(data.endpoint_url);
				// 	$("#m_serves_dataset").val(data.serves_dataset);
				// 	$("#m_access_rights").val(data.access_rights);
				// 	$("#m_license").val(data.license);
				// 	$("#m_method").val(data.method);
				// 	$("#m_uri").val(data.uri);
				// 	$("#m_view_cnt").val(data.view_cnt);
				// 	$("#m_serves_dataset").val(data.serves_dataset);
					
					keyword_update_add_list(data.keyword);

				 	$("#update_modal").addClass("show-modal");
				}
			},
			error:(request,status,error) => {
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	};

	// 종료 popup
	var close_layer = () => {
		$("#fm01p")[0].reset();
		$("#fm02p")[0].reset();
		$(".price").hide();
		$("#insert_modal , #update_modal").removeClass("show-modal");
		//	clearTimeout(loop_timer);
	};

	var keyword_add = () =>{
		var vrt = keyword_row_template;
		var row_num = $("#keyword_table tr").length;
		vrt = vrt.replace("#keyword_num#", row_num);
		$("#keyword_table").append(vrt);
	};

	var keyword_del_row = (t) => {
		var table = $(t).parent().parent().parent();
		$(t).parent().parent().remove();
		$(table).find("tr:gt(0)").each((i, e)=>{
			$(e).find("td:eq(0)").text(i+1);
		});
	};

	var keyword_init = () => {
		$("#keyword_table tr:gt(0)").remove();
	};

	var keyword_update_init = () => {
		$("#keyword_update_table tr:gt(0)").remove();
	};

	var keyword_get_json = (table_name) => {
		var rtn = true;
		var vjt = [];

		$("#"+table_name+" tr:gt(0)").each((i,e) =>{
			var json_row = {};
			var field_obj = $(e).find("#keyword_field_name");
			var field = field_obj.val();
			if(!field || field.trim() == ""){
				alert("키워드를 입력 하세요.");
				$(field_obj).focus();
				rtn = false;
				return false;
			}

			var data_type = $(e).find("#keyword_type").val();

			// [{"keywordId": "test", "keywordType": "platform"}]

			json_row.keywordId = field;
			json_row.keywordType = data_type;
	
			vjt.push(json_row);
		});

		if(rtn){
			return JSON.stringify(vjt);
		}else{
			return false;
		}
	};

	var keyword_update_add = () =>{
		var vrt = keyword_row_template;
		var row_num = $("#keyword_update_table tr").length;
		vrt = vrt.replace("#keyword_num#", row_num);
		$("#keyword_update_table").append(vrt);
	};

	var keyword_update_add_list = (keyword) =>{
		keyword_update_init();
		if(!keyword) return;

		var v_t;	
		if(keyword){	
			$.each(keyword,(i,r)=>{
				v_t = keyword_row_template;
				v_t = v_t.replace("#keyword_num#", i+1);
				v_t = v_t.replace("field_val", "value='"+r.keywordId+"'");
				v_t = v_t.replace(r.keywordType+"'>", r.keywordType+"' selected>");
				$("#keyword_update_table").append(v_t);
			});
		}
	};

	var get_current_day = () =>{	
		var now = new Date();
		var year= now.getFullYear();
		var mon = (now.getMonth()+1)>9 ? ''+(now.getMonth()+1) : '0'+(now.getMonth()+1);
		var day = now.getDate()>9 ? ''+now.getDate() : '0'+now.getDate();
		var currentDay = year + '-' + mon + '-' + day;
		return currentDay;
	};
	
</script>
<!-- SCRIPT END-->

<!-- DATA GRID -->
<section>
	<!-- CONTDITION -->
	<div class="w3-row-padding" style="width:100%;height:60px;">
		<div style="width:90%;float:left;">
			<form id="fm01" class="form-style-9">
				<ul>
					<li>
						<div style="float:left;">
							<!-- <label for="s_taxonomy_version_list" style="margin-left:10px;margin-top:5px;">분류체계버젼</label>
							<select id="s_taxonomy_version_list" name="s_taxonomy_version_list">
								<option value="">전체</option>
							</select>
							<label for="s_category_list" style="margin-left:10px;margin-top:5px;">분류체계버젼</label>
							<select id="s_category_list" name="s_category_list">
								<option value="">전체</option>
							</select> 고과장이 빼라고 했음 -->
							<label for="s_keyword" style="margin-left:10px;margin-top:5px;">상품명</label>
							<input id="s_keyword" name="s_keyword" type="text" style="width:700px;" class="field-style field-split" placeholder="상품명" />
						</div>
					</li>
				</ul>
			</form>
		</div>
		<!-- <div style="width:10%;float:right;padding:15px;"><button style="width:100px;height:80px;" type="button">조회</button></div> -->
		<div style="width:10%;float:right;padding-left:15px;padding-top:5px;"><button id="searchBtn" style="width:100px;height:40px;" type="button">조회</button></div>
	</div>
	<!-- CONTDITION END -->

	<div class="w3-row-padding" style="height:900px;">
		<!-- <div style="float:right;margin-top:10px;"><button id="insert_popup">상품등록</button></div> -->
		<p class="table_bt01" style="float:right;"><a href="javascript:insert_popup();" style="padding: 10px 25px;">상품등록</a></p>
		<div style="margin-top:10px;border:1px solid rgba(100, 101, 105, 0.2); width:100%;height:680px;overflow:auto;">
			<table id="gTable" style="width:2500px;">
				<tr id="ghead"></tr>
			</table>
		</div>
		<div id="pagination" style="position:absolute; left:50%; margin-left:-50px;margin-top:10px;"></div>
	</div>
</section>
<!-- DATA GRID END-->
<!-- Layer Popup-->
	<!-- 팝업 될 레이어 --> 
<style>
	.pop_tabla  {width:100%; border-top:2px solid #000; border-bottom:1px solid #000; font-size:12px;}
	.pop_tabla th {background:#f4f4f4; border-bottom:1px solid #ddd;padding:10px;  text-align:center; width:100px;}
	.pop_tabla th .point_color{color:#ef1111;}
	.pop_tabla td {border-bottom:1px solid #ddd; padding:10px; background-color: white;}
	.pop_tabla td input {border:1px solid #ddd; padding:5px 10px; width:85%; background-color: white;}
	.pop_tabla td select {border:1px solid #ddd; padding:5px 10px; background-color: white; }
	.pop_tabla td textarea {border:1px solid #ddd; padding:5px 10px; background-color: white;}
	.pop_tabla .text_center { text-align:center;}
	.table_bt01 {text-align:center; float:left;}
	.table_bt01 a{border:1px solid #009fe9; background:#009fe9; color:#fff; display:inline-block; padding:14px 40px; text-decoration:none; font-size:13px;}
	.table_bt02 {text-align:center; float:left;}
	.table_bt02 a{border:1px solid #009fe9; color:#009fe9; display:inline-block; padding:14px 40px; text-decoration:none; font-size:13px;}
</style>

<div id="insert_modal" class="modal" style="z-index:10;">
	<div class="modal-content" style="height:680px;width:1250px;overflow:auto;">
		<span class="close-button">&times;</span>
		<h1 class="title">메타등록</h1>
		<form id="fm01p" style="margin: 0 auto; width: 1220px;">
			<div style="width:1200px;">
				<div style="margin:0 30px 20px 30px;">
					<table cellpadding="0" cellspacing="0" class="pop_tabla">
						<tr>
							<th>분류체계버젼</th>
							<td>
								<select id="taxonomy_version" name="taxonomy_version" required></select>
							</td>
							<th>카테고리</th>
							<td colspan="3">
								<select id="category_list" name="category_list" required></select>
							</td>
						</tr>
						<tr>
							<th>상품명 <span class="point_color">*</span></th>
							<td colspan="7"><input id="title" type="text"  name="title" placeholder="상품명" required style="width:97.7%;"></tdcolspan="7>
							<!-- <th>상품등록자</th>
							<td><input id="publisherId" type="text"  name="publisherId" placeholder="상품등록자" disabled></td> -->
							<!-- <th>제공기업<span class="point_color">*</span></th>
							<td><input id="ownerId" type="text"  name="ownerId" placeholder="제공기업"  required disabled></td> -->
							<!-- <th>상품생성자</th>
							<td><input id="creatorId" type="text"  name="creatorId" placeholder="상품생성자" ></td> -->
						</tr>
						<tr>
							<th>상품설명 <span class="point_color">*</span></th>
							<td colspan="7"><input id="description" type="text"  name="description" placeholder="상품설명" style="width:97.7%;"></td>
						</tr>
						<tr>
							<th>상품상세설명</th>
							<td colspan="7"><input id="descriptionDetail" type="text"  name="descriptionDetail" placeholder="상품상세설명" style="width:97.7%;"></td>
						</tr>
						<tr>
							<th>랜딩페이지 <span class="point_color">*</span></th>
							<td colspan="7"><input id="landingPage" type="text"  name="landingPage" placeholder="랜딩페이지" style="width:97.7%;"></td>
						</tr>
						<tr>
							<th>라이센스 <span class="point_color">*</span></th>
							<td colspan="7"><input id="license" type="text"  name="license" placeholder="라이센스" style="width:97.7%;"></td>
							<!-- <th>권한<span class="point_color">*</span></th>
							<td><input id="rights" type="text"  name="rights" placeholder="권한" value="0"></td>
						</tr> -->
						<tr>
							<th>언어</th>
							<td>
								<select name="language">
									<option value="ko">한국</option>
									<option value="en">미국</option>
								</select>
							</td>
							<!-- <th>상품분류</th>
							<td><input id="type" type="text"  name="type" placeholder="상품분류"></td> -->
							<!-- <th>분류체계</th>
							<td><input id="taxonomy" type="text"  name="taxonomy" placeholder="분류체계"></td> -->
							<!-- <th>생성일자</th>
							<td><input id="issued" type="text"  name="issued" placeholder="생성일자"></td>
							<th>수정일자</th>
							<td ><input id="modified" type="text"  name="modified" placeholder="수정일자"></td> -->
							<th>버전</th>
							<td><input id="version" type="text"  name="version" placeholder="버전"></td>
							<!-- <th>키워드</th> -->
							<!-- <td> -->
								<input id="keyword" type="hidden"  name="keyword" placeholder="키워드">
							<!-- </td> -->
							<th>공개여부</th>
							<td>
								<select id="isPublic"  name="isPublic">
									<option value="Y">공개</option>
									<option value="N">미공개</option>
								</select>
							</td>
						</tr>
						<!-- <tr>
							<th>버젼설명</th>
							<td colspan="7">
								<textarea  id="version_description" name="version_description" placeholder="버젼설명" style="width:95%; height:100px; "></textarea>
							</td>
						</tr> -->
						<tr>
							<th>공간해상도</th>
							<td><input id="spatialResolutionInMeters" type="text"  name="spatialResolutionInMeters" placeholder="공간해상도"></td>
							<th>시간해상도</th>
							<td><input id="temporalResolution" type="text"  name="temporalResolution" placeholder="시간해상도"></td>
							
							<!-- <th>가격무료여부</th>
							<td>
								<select id="priceType" name="priceType">
									<option value="free">무료</option>
									<option value="charge">유료</option>
									<option value="policy">협의</option>
								</select>
							</td> -->
							<!-- <th>공개여부<span class="point_color">*</span></th>
							<td>
								<select id="isPublic"  name="isPublic">
									<option value="Y">공개</option>
									<option value="N">미공개</option>
								</select>
							</td> -->
							<!-- <th>상품상태</th>
							<td>
								<select id="state" name="state">
									<option value="start">판매중</option>
									<option value="stop">판매중단</option>
								</select>
							</td> -->
							<th>개인상품여부</th>
							<td>
								<select id="isPersonal" name="isPersonal">
									<option value="Y">YES</option>
									<option value="N">NO</option>
								</select>
							</td>
						</tr>
						<!-- <tr>
							<th>상품이미지URL</th>
							<td colspan="7"><input id="image_path" type="text"  name="image_path" placeholder="상품이미지URL"></td>
						</tr> -->
						<!-- <tr>
							<th>확장 필드</th>
							<td colspan="7">
								<textarea id="extras" name="extras" placeholder="확장 필드" style="width:95%; height:100px; "></textarea>
							</td>
						</tr> -->
						<!-- <tr>
							<th>was generated by</th>
							<td colspan="7"><input id="was_generated_by" type="text"  name="was_generated_by" placeholder="was generated by"></td>
						</tr> -->
						<!-- <tr> -->
							<!-- <th>데이터 품질지수</th>
							<td><input id="dq_index" type="text"  name="dq_index" placeholder="데이터 품질지수"></td>
							<th>데이터 품질지수 측정일</th>
							<td><input id="measure_date" type="text"  name="measure_date" placeholder="데이터 품질지수 측정일"></td> -->
							<!-- <th>공간해상도</th>
							<td><input id="spatialResolutionInMeters" type="text"  name="spatialResolutionInMeters" placeholder="공간해상도"></td> -->
							<!-- <th>공간정보</th>
							<td><input id="spatial_uri" type="text"  name="spatial_uri" placeholder="공간정보"></td> -->
							<!-- <th>시간해상도</th>
							<td><input id="temporalResolution" type="text"  name="temporalResolution" placeholder="시간해상도"></td> -->
							<!-- <th>라이센스</th>
							<td><input id="license" type="text"  name="license" placeholder="라이센스"></td>
							<th>메소드</th>
							<td><input id="method" type="text"  name="method" placeholder="메소드"></td> -->
						<!-- </tr> -->
						<tr>
							<th>갱신주기</th>
							<td><input id="accrualPeriodicity" type="text"  name="accrualPeriodicity" placeholder="갱신주기"></td>
							<!-- <th>공간정보(제공자)</th>
							<td><input id="publisher_spatial_uri" type="text"  name="publisher_spatial_uri" placeholder="공간정보(제공자)"></td> -->
							<th>시작일</th>
							<td><input id="temporalStart" type="text"  name="temporalStart" placeholder="시작일"></td>
							<th>종료일</th>
							<td><input id="temporalEnd" type="text"  name="temporalEnd" placeholder="종료일"></td>
						</tr>
						<tr>
							<th>가격무료여부</th>
							<td>
								<select id="priceType" name="priceType">
									<option value="free">무료</option>
									<option value="charge">유료</option>
									<option value="policy">협의</option>
								</select>
							</td>
							
							<th class="price" style="display:none;">가격 <span class="point_color">*</span></th>
							<td class="price" style="display:none;"><input id="price" type="text" name="price" data-mask="0000-00-00" placeholder="가격"></td>
							
						</tr>
						<!-- <tr>
							<th>출처구분</th>
							<td>
								<select id="source_type" name="source_type">
									<option value="personal">개인</option>
									<option value="corp">기업</option>
								</select>
							</td>
							<th>접근권한</th>
							<td>
								<select id="access_rights" name="access_rights">
									<option value="write">쓰기</option>
									<option value="read">읽기</option>
								</select>
							</td>
							<th>삭제타입</th>
							<td>
								<select id="remove_type" name="remove_type">
									<option value="disposal">보관</option>
									<option value="purge">삭제</option>
								</select>
							</td>
						</tr> -->
			
						<!-- <tr>
							<th>URL</th>
							<td colspan="7"><input id="uri" type="text"  name="uri" placeholder="URL"></td>
						</tr> -->
						<!-- <tr>
							<th>엔드포인트 URL</th>
							<td colspan="7"><input id="endpoint_url" type="text"  name="endpoint_url" placeholder="엔드포인트 URL"></td>
						</tr>
						<tr>
							<th>엔트포인트 설명</th>
							<td colspan="7">
								<textarea id="endpoint_description" name="endpoint_description" placeholder="엔트포인트 설명" style="width:95%; height:100px; "></textarea>
							</td>
						</tr> -->
			
						<!-- <tr>
							<input type="hidden" id="dataset_uuid" name="dataset_uuid">
							<th>Server Data Set</th>
							<td colspan="3"><input id="serves_dataset" type="text"  name="serves_dataset" placeholder="데이터셋 적재 PATH"></td>
							<th>적재 수행</th>
							<td colspan="3">
								<select id="repo_list" name="repo_list">
								</select>
								<a href="javascript:void(0);" id="i_exe_nifi" style="display:inline-block; background:#333; color:#fff; padding:6px 15px; text-decoration:none; margin-left:10px;">데이터 적재</a>
							</td>
						</tr> -->
						<!-- <tr>
							<th>준수사항</th>
							<td colspan="3"><input id="conforms_to" type="text"  name="conforms_to" placeholder="Conforms_to"></td>
						</tr> -->
						<!-- <tr>
							<th>준수 사항</th>
							<td colspan="7">
								<textarea id="conformsTo" name="conformsTo" placeholder="준수사항" style="width:95%; height:100px; "></textarea>
							</td>
						</tr> -->
					</table>
			
					<!-- <div style="float:right;padding-top:10px;">
						<p class="table_bt01"><a href="javascript:keyword_add();" style="margin-left:7px;"><strong>추가</strong></a></p>
						<p class="table_bt02"><a href="javascript:keyword_init();" style="margin-left:7px;padding: 14px 35px;"><strong>초기화</strong></a></p>
					</div>
					<p style="font-size:20px; color:#222; font-weight:bold; margin-top:40px;">키워드</p>
					<table id="keyword_table" cellpadding="0" cellspacing="0" class="pop_tabla">
						<tr>
							<th style="width:10%;">번호</th>
							<th style="width:53%;">키워드</th>
							<th style="width:15%;">타입</th>
							<th style="width:7%;">삭제</th>
						</tr>
					</table> -->
					<div style="float:right;padding-top:10px;">
						<!-- <p style="font-size:20px; color:#222; font-weight:bold; margin-top:80px; ">데이터 목록</p> -->
						<p class="table_bt01"><a href="javascript:close_layer();" style="background-color: gray;"><strong>닫기</strong></a></p>
						<p class="table_bt01"><a href="javascript:resource_save();" style="margin-left:7px;"><strong>등록</strong></a></p>
					</div>
				</div>
			</div>				
		</form>
	</div>
</div>

<div id="update_modal" class="modal" style="z-index:10;">
	<div class="modal-content" style="height:610px;width:1250px;overflow:auto;">
		<span class="close-button">&times;</span>
		<h1 class="title">메타수정</h1>
		<form id="fm02p" style="margin: 0 auto; width: 1220px;">
			<div style="width:1200px;">
				<div style="margin:0 30px 20px 30px;">
					<table cellpadding="0" cellspacing="0" class="pop_tabla">
						<tr>
							<input id="m_id" name="m_id" type="hidden"> 
							<th>상품명 <span class="point_color">*</span></th>
							<td colspan="3"><input id="m_title" type="text"  name="m_title" placeholder="상품명" required></td>
							<!-- <th>상품등록자</th>
							<td><input id="m_publisherId" type="text"  name="publisherId" placeholder="상품등록자" disabled></td> -->
							<!-- <th>제공기업<span class="point_color">*</span></th>
							<td><input id="m_ownerId" type="text"  name="m_ownerId" placeholder="상품판매자"  required disabled></td> -->
							<th>상품생성자</th>
							<td><input id="m_creatorId" type="text"  name="m_creatorId" placeholder="상품생성자" readonly ></td>
						</tr>
						<tr>
							<th>상품설명 <span class="point_color">*</span></th>
							<td colspan="7"><input id="m_description" type="text"  name="m_description" placeholder="상품설명" style="width:97.7%;"></td>
						</tr>
						<tr>
							<th>상품상세설명</th>
							<td colspan="7"><input id="m_descriptionDetail" type="text"  name="m_descriptionDetail" placeholder="상품상세설명" style="width:97.7%;"></td>
						</tr>
						<tr>
							<th>랜딩페이지 <span class="point_color">*</span></th>
							<td colspan="7"><input id="m_landingPage" type="text"  name="m_landingPage" placeholder="랜딩페이지" style="width:97.7%;"></td>
						</tr>
						<tr>
							<th>라이센스 <span class="point_color">*</span></th>
							<td colspan="7"><input id="m_license" type="text"  name="m_license" placeholder="라이센스" style="width:97.7%;"></td>
							<!-- <th>권한<span class="point_color">*</span></th>
							<td><input id="m_rights" type="text"  name="rights" placeholder="권한" value="0"></td> -->
						</tr>
						<tr>
							<th>언어</th>
							<td>
								<select id="m_language" name="m_language">
									<option value="ko">한국</option>
									<option value="en">미국</option>
								</select>
							</td>
							<!-- <th>상품분류</th>
							<td><input id="type" type="text"  name="type" placeholder="상품분류"></td> -->
							<!-- <th>분류체계</th>
							<td><input id="taxonomy" type="text"  name="taxonomy" placeholder="분류체계"></td> -->
							<!-- <th>생성일자</th>
							<td><input id="issued" type="text"  name="issued" placeholder="생성일자"></td>
							<th>수정일자</th>
							<td ><input id="modified" type="text"  name="modified" placeholder="수정일자"></td> -->
							<th>버전</th>
							<td><input id="m_version" type="text"  name="m_version" placeholder="버전"></td>
							<th>공개여부</th>
							<td>
								<select id="m_isPublic"  name="m_isPublic">
									<option value="Y">공개</option>
									<option value="N">미공개</option>
								</select>
							</td>
						</tr>
						<!-- <tr>
							<th>버젼설명</th>
							<td colspan="7">
								<textarea  id="version_description" name="version_description" placeholder="버젼설명" style="width:95%; height:100px; "></textarea>
							</td>
						</tr> -->
						<tr>
							<!-- <th>가격무료여부</th>
							<td>
								<select id="m_priceType" name="m_priceType">
									<option value="free">무료</option>
									<option value="charge">유료</option>
									<option value="policy">협의</option>
								</select>
							</td> -->
							<!-- <th>공개여부 <span class="point_color">*</span></th>
							<td>
								<select id="m_isPublic"  name="m_isPublic">
									<option value="Y">공개</option>
									<option value="N">미공개</option>
								</select>
							</td> -->
							<!-- <th>상품상태</th>
							<td>
								<select id="state" name="state">
									<option value="start">판매중</option>
									<option value="stop">판매중단</option>
								</select>
							</td> -->
							<th>공간해상도</th>
							<td><input id="m_spatialResolutionInMeters" type="text"  name="m_spatialResolutionInMeters" placeholder="공간해상도"></td>
							<th>시간해상도</th>
							<td><input id="m_temporalResolution" type="text"  name="m_temporalResolution" placeholder="시간해상도"></td>
							
							<th>개인상품여부</th>
							<td>
								<select id="m_isPersonal" name="m_isPersonal">
									<option value="Y">YES</option>
									<option value="N">NO</option>
								</select>
							</td>
						</tr>
						<!-- <tr>
							<th>상품이미지URL</th>
							<td colspan="7"><input id="image_path" type="text"  name="image_path" placeholder="상품이미지URL"></td>
						</tr> -->
						<!-- <tr>
							<th>확장 필드</th>
							<td colspan="7">
								<textarea id="m_extras" name="m_extras" placeholder="확장 필드" style="width:95%; height:100px; "></textarea>
							</td>
						</tr> -->
						<!-- <tr>
							<th>was generated by</th>
							<td colspan="7"><input id="was_generated_by" type="text"  name="was_generated_by" placeholder="was generated by"></td>
						</tr> -->
						<!-- <tr> -->
							<!-- <th>데이터 품질지수</th>
							<td><input id="dq_index" type="text"  name="dq_index" placeholder="데이터 품질지수"></td>
							<th>데이터 품질지수 측정일</th>
							<td><input id="measure_date" type="text"  name="measure_date" placeholder="데이터 품질지수 측정일"></td> -->
							<!-- <th>공간해상도</th>
							<td><input id="m_spatialResolutionInMeters" type="text"  name="m_spatialResolutionInMeters" placeholder="공간해상도"></td> -->
							<!-- <th>공간정보</th>
							<td><input id="spatial_uri" type="text"  name="spatial_uri" placeholder="공간정보"></td> -->
							<!-- <th>시간해상도</th>
							<td><input id="m_temporalResolution" type="text"  name="m_temporalResolution" placeholder="시간해상도"></td> -->
							<!-- <th>라이센스</th>
							<td><input id="license" type="text"  name="license" placeholder="라이센스"></td>
							<th>메소드</th>
							<td><input id="method" type="text"  name="method" placeholder="메소드"></td> -->
						<!-- </tr> -->
						<tr>
							<th>갱신주기</th>
							<td><input id="m_accrualPeriodicity" type="text"  name="m_accrualPeriodicity" placeholder="갱신주기"></td>
							<!-- <th>공간정보(제공자)</th>
							<td><input id="publisher_spatial_uri" type="text"  name="publisher_spatial_uri" placeholder="공간정보(제공자)"></td> -->
							<th>시작일</th>
							<td><input id="m_temporalStart" type="text"  name="m_temporalStart" placeholder="시작일"></td>
							<th>종료일</th>
							<td><input id="m_temporalEnd" type="text"  name="m_temporalEnd" placeholder="종료일"></td>
						</tr>
						<tr>
							<th>가격무료여부</th>
							<td>
								<select id="m_priceType" name="m_priceType">
									<option value="free">무료</option>
									<option value="charge">유료</option>
									<option value="policy">협의</option>
								</select>
							</td>
							<th class="price" style="display:none;">가격 <span class="point_color">*</span></th>
							<td class="price" style="display:none;"><input id="m_userPrice" type="text" name="m_userPrice" data-mask="0000-00-00" placeholder="가격"></td>
							
						</tr>
						<!-- <tr>
							<th>출처구분</th>
							<td>
								<select id="source_type" name="source_type">
									<option value="personal">개인</option>
									<option value="corp">기업</option>
								</select>
							</td>
							<th>접근권한</th>
							<td>
								<select id="access_rights" name="access_rights">
									<option value="write">쓰기</option>
									<option value="read">읽기</option>
								</select>
							</td>
							<th>삭제타입</th>
							<td>
								<select id="remove_type" name="remove_type">
									<option value="disposal">보관</option>
									<option value="purge">삭제</option>
								</select>
							</td>
						</tr> -->
			
						<!-- <tr>
							<th>URL</th>
							<td colspan="7"><input id="uri" type="text"  name="uri" placeholder="URL"></td>
						</tr> -->
						<!-- <tr>
							<th>엔드포인트 URL</th>
							<td colspan="7"><input id="endpoint_url" type="text"  name="endpoint_url" placeholder="엔드포인트 URL"></td>
						</tr>
						<tr>
							<th>엔트포인트 설명</th>
							<td colspan="7">
								<textarea id="endpoint_description" name="endpoint_description" placeholder="엔트포인트 설명" style="width:95%; height:100px; "></textarea>
							</td>
						</tr> -->
			
						<!-- <tr>
							<input type="hidden" id="dataset_uuid" name="dataset_uuid">
							<th>Server Data Set</th>
							<td colspan="3"><input id="serves_dataset" type="text"  name="serves_dataset" placeholder="데이터셋 적재 PATH"></td>
							<th>적재 수행</th>
							<td colspan="3">
								<select id="repo_list" name="repo_list">
								</select>
								<a href="javascript:void(0);" id="i_exe_nifi" style="display:inline-block; background:#333; color:#fff; padding:6px 15px; text-decoration:none; margin-left:10px;">데이터 적재</a>
							</td>
						</tr> -->
						<!-- <tr>
							<th>준수사항</th>
							<td colspan="3"><input id="conforms_to" type="text"  name="conforms_to" placeholder="Conforms_to"></td>
						</tr> -->
						<!-- <tr>
							<th>준수 사항</th>
							<td colspan="7">
								<textarea id="m_conformsTo" name="m_conformsTo" placeholder="준수사항" style="width:95%; height:100px; "></textarea>
							</td>
						</tr> -->
					</table>
			
					<!-- <div style="float:right;padding-top:10px;">
						<p class="table_bt01"><a href="javascript:keyword_update_add();"><strong>추가</strong></a></p>
						<p class="table_bt02" ><a href="javascript:keyword_update_init();" style="margin-left:7px;padding:14px 35px;"><strong>초기화</strong></a></p>
					</div>
					<input id="m_keyword" name="m_keyword" type="hidden">
					<p style="font-size:20px; color:#222; font-weight:bold; margin-top:40px;">키워드</p>
					<table id="keyword_update_table" cellpadding="0" cellspacing="0" class="pop_tabla">
						<tr>
							<th style="width:10%;">번호</th>
							<th style="width:53%;">키워드</th>
							<th style="width:15%;">타입</th>
							<th style="width:7%;">삭제</th>
						</tr>
					</table> -->
					<div style="float:right;padding-top:10px;">
						<p style="text-align:center; float:left;"><a href="javascript:close_layer();" style="background-color: gray;border:1px solid gray; color:white; display:inline-block; padding:14px 40px; text-decoration:none; font-size:13px;"><strong>취소</strong></a></p>
						<p style="text-align:center; float:left; margin-left:7px;"><a href="javascript:resource_update();" style="border:1px solid #009fe9; background:#009fe9; color:#fff; display:inline-block; padding:14px 40px; text-decoration:none; font-size:13px;"><strong>수정</strong></a></p>
					</div>
				</div>
			</div>				
		</form>
	</div>
</div>
<!-- Layer Popup End-->
