<style>
.pop_tabla  {width:100%; border-top:2px solid #000; border-bottom:1px solid #000; font-size:12px;}
.pop_tabla th {background:#f4f4f4; border-bottom:1px solid #ddd;padding:10px;  text-align:center; width:100px;}
.pop_tabla td {border-bottom:1px solid #ddd; padding:10px;}
.pop_tabla td input {border:1px solid #ddd; padding:5px 10px; width:85%;}
.pop_tabla td select {border:1px solid #ddd; padding:5px 10px; }
.pop_tabla td textarea {border:1px solid #ddd; padding:5px 10px; }
</style>

<div style="width:1200px;">
	<div style="font-size:30px; color:#222;  padding:25px 30px;" ><strong>메타등록</strong></div>
	<div style="margin:0 30px 20px 30px;">
		<table cellpadding="0" cellspacing="0" class="pop_tabla">
			<tr>
				<th>상품명</th>
				<td><input id="" type="text"  name="" placeholder="상품명"></td>
				<th>상품등록자</th>
				<td><input id="" type="text"  name="" placeholder="상품등록자"></td>
				<th>상품판매자</th>
				<td><input id="" type="text"  name="" placeholder="상품판매자"></td>
				<th>상품생성자</th>
				<td><input id="" type="text"  name="" placeholder="상품생성자"></td>
			</tr>
			<tr>
				<th>상품설명</th>
				<td colspan="7"><input id="" type="text"  name="" placeholder="상품이미지 URL" style="width:97.7%;"></td>
			</tr>
			<tr>
				<th>랜딩페이지</th>
				<td colspan="3"><input id="" type="text"  name="" placeholder="랜딩페이지" ></td>
				<th>랜딩페이지URL</th>
				<td colspan="3"><input id="" type="text"  name="" placeholder="랜딩페이지URL"></td>
			</tr>
			<tr>
				<th>언어</th>
				<td>
					<select name="">
						<option>선택하세요</option>
						<option>한국</option>
					</select>
				</td>
				<th>상품분류</th>
				<td><input id="" type="text"  name="" placeholder="상품분류"></td>
				<th>분류체계</th>
				<td><input id="" type="text"  name="" placeholder="분류체계"></td>
				<th>생성일자</th>
				<td><input id="" type="text"  name="" placeholder="생성일자"></td>
			</tr>
			<tr>
				<th>수정일자</th>
				<td colspan="3"><input id="" type="text"  name="" placeholder="수정일자"></td>
				<th>버젼</th>
				<td colspan="3"><input id="" type="text"  name="" placeholder="버전"></td>
			</tr>
			<tr>
				<th>버젼설명</th>
				<td colspan="7">
					<textarea name="" placeholder="버젼설명" style="width:95%; height:100px; "></textarea>
				</td>
			</tr>
			<tr>
				<th>가격무료여부</th>
				<td>
					<select name="">
						<option>선택하세요</option>
						<option>무료</option>
					</select>
				</td>
				<th>공개여부</th>
				<td>
					<select name="">
						<option>선택하세요</option>
						<option>공개</option>
					</select>
				</td>
				<th>상품상태</th>
				<td>
					<select name="">
						<option>선택하세요</option>
						<option>판매중</option>
					</select>
				</td>
				<th>개인상품여부</th>
				<td>
					<select name="">
						<option>선택하세요</option>
						<option>YES</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>상품이미지URL</th>
				<td colspan="7"><input id="" type="text"  name="" placeholder="상품이미지URL"></td>
			</tr>
			<tr>
				<th>EXTEA 필드</th>
				<td colspan="7">
					<textarea name="" placeholder="EXTEA 필드" style="width:95%; height:100px; "></textarea>
				</td>
			</tr>
			<tr>
				<th>was generated by</th>
				<td colspan="7"><input id="" type="text"  name="" placeholder="was generated by"></td>
			</tr>
			<tr>
				<th>데이터 품질지수</th>
				<td><input id="" type="text"  name="" placeholder="데이터 품질지수"></td>
				<th>데이터 품질지수 측정일</th>
				<td><input id="" type="text"  name="" placeholder="데이터 품질지수 측정일"></td>
				<th>공강해상도</th>
				<td><input id="" type="text"  name="" placeholder="공강해상도"></td>
				<th>공간정보</th>
				<td><input id="" type="text"  name="" placeholder="공간정보"></td>
			</tr>
			<tr>
				<th>갱신주기</th>
				<td><input id="" type="text"  name="" placeholder="갱신주기"></td>
				<th>공간정보(제공자)</th>
				<td><input id="" type="text"  name="" placeholder="공간정보(제공자)"></td>
				<th>시간해상도</th>
				<td><input id="" type="text"  name="" placeholder="시간해상도"></td>
				<th>시작일</th>
				<td><input id="" type="text"  name="" placeholder="시작일"></td>
			</tr>
			<tr>
				<th>종료일</th>
				<td><input id="" type="text"  name="" placeholder="종료일"></td>
				<th>출처구분</th>
				<td>
					<select name="">
						<option>선택하세요</option>
						<option>개인판매자</option>
					</select>
				</td>
				<th>시작일</th>
				<td>
					<select name="">
						<option>선택하세요</option>
						<option>쓰기</option>
					</select>
				</td>
				<th>종료일</th>
				<td>
					<select name="">
						<option>선택하세요</option>
						<option>폐기</option>
					</select>
				</td>
			</tr>

			<tr>
				<th>URL</th>
				<td colspan="7"><input id="" type="text"  name="" placeholder="URL"></td>
			</tr>
			<tr>
				<th>엔드포인트 URL</th>
				<td colspan="7"><input id="" type="text"  name="" placeholder="엔드포인트 URL"></td>
			</tr>
			<tr>
				<th>엔트포인트 설명</th>
				<td colspan="7">
					<textarea name="" placeholder="엔트포인트 설명" style="width:95%; height:100px; "></textarea>
				</td>
			</tr>

			<tr>
				<th>Server Data Set</th>
				<td colspan="3"><input id="" type="text"  name="" placeholder="데이터셋 적재 PATH"></td>
				<th>저장소</th>
				<td colspan="3">
					<select name="">
						<option>선택하세요</option>
						<option>테스트 저장소2</option>
					</select>
					<a href="#." style="display:inline-block; background:#333; color:#fff; padding:6px 15px; text-decoration:none; margin-left:10px;" target="_blank">데이터 적재</a>
				</td>
			</tr>
			<tr>
				<th>라이센스</th>
				<td><input id="" type="text"  name="" placeholder="라이센스"></td>
				<th>Conforms_to</th>
				<td colspan="3"><input id="" type="text"  name="" placeholder="Conforms_to"></td>
				<th>메소드</th>
				<td><input id="" type="text"  name="" placeholder="메소드"></td>
			</tr>
		</table>

		<div style="float:right;">
			<p style="text-align:center; float:left;"><a href="#." target="_blank" style="border:1px solid #009fe9; color:#009fe9; display:inline-block; padding:14px 40px; text-decoration:none; font-size:13px;"><strong>취소</strong></a></p>
			<p style="text-align:center; float:left; margin-left:20px;"><a href="#." target="_blank" style="border:1px solid #009fe9; background:#009fe9; color:#fff; display:inline-block; padding:14px 40px; text-decoration:none; font-size:13px;"><strong>저장</strong></a></p>
		</div>
	</div>
</div>
